/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.applyContainer {
  @apply flex flex-col items-center justify-center w-full mb-[50px];
}
.applyContainer .applyHeader {
  @apply flex flex-col items-start justify-center bg-[url(../materials/HomeShapingBackground.svg)] bg-white bg-no-repeat bg-cover w-full pt-[150px] pb-[100px] px-[150px];
}
.applyContainer .applyHeader h1 {
  @apply text-[50px] leading-[60px] font-bold text-[#0071fb] mb-[30px];
}
.applyContainer .applyHeader p {
  @apply text-[26px] leading-[50px] font-normal;
}
.applyContainer .applyHeader .mobilViewInfo p {
  @apply text-[26px] leading-[50px];
}
.applyContainer .applyHeader .mobilViewInfo span {
  @apply text-3xl font-semibold;
}
.applyContainer .mobilViewText {
  @apply px-[150px] py-[60px];
}
.applyContainer .mobilViewText p {
  @apply text-[26px] leading-[50px] mb-[50px];
}
.applyContainer .applyQualifications {
  @apply flex flex-col items-start justify-center mb-[50px] px-[150px] py-0;
}
.applyContainer .applyQualifications h1 {
  @apply text-3xl leading-9 underline font-semibold mt-10 mb-[15px];
}
.applyContainer .applyQualifications p {
  @apply text-xl leading-9 mt-[50px];
}
.applyContainer .applyQualifications ul {
  @apply list-disc pl-10;
}
.applyContainer .applyQualifications ul li {
  @apply text-xl leading-10;
}
.applyContainer .applyQualifications span {
  @apply font-semibold;
}
.applyFormContainer {
  @apply w-full;
}
.applyFormContainer form {
  @apply flex flex-col items-center justify-center px-[150px] py-[50px];
}
.applyFormContainer form > h1 {
  @apply text-[50px] leading-[60px] font-bold text-[#0071fb];
}
.applyFormContainer form > div {
  @apply w-full;
}
.applyFormContainer .nameInputs h1 {
  @apply text-3xl leading-9 font-medium w-full mb-[15px];
}
.applyFormContainer input::placeholder,
.applyFormContainer select option:first-child {
  @apply text-[rgb(130,130,130)];
}
.applyFormContainer .nameInputs input {
  @apply w-[calc(33%_-_8px)] h-[60px] border text-[15px] mr-[15px] mb-[50px] p-[15px] rounded-[5px] border-solid border-[rgba(189,189,189,1)];
}
.applyFormContainer .nameInputs #last_name {
  @apply mr-0;
}
.applyFormContainer .birthdayInputs h1 {
  @apply text-3xl leading-9 font-medium w-full mb-[15px];
}
.applyFormContainer .birthdayInputs select {
  @apply w-[calc(33%_-_8px)] h-[60px] border text-[15px] !bg-auto appearance-none mr-[15px] mb-[50px] pr-[30px] p-[15px] rounded-[5px] border-solid border-[#bdbdbd];
  background: url(../materials/down-arrow.svg) no-repeat 97% center;
}
.applyFormContainer .birthdayInputs #year {
  @apply mr-0;
}
.applyFormContainer .birthdayInputs select:has(option[value=""]:checked) {
  @apply text-[rgb(130,130,130)];
}
.applyFormContainer .adressInputs input {
  @apply w-[calc(33%_-_8px)] h-[60px] border text-[15px] mr-[15px] mb-[50px] p-[15px] rounded-[5px] border-solid border-[#bdbdbd];
}
.applyFormContainer .adressInputs #streetAdress {
  @apply w-full;
}
.applyFormContainer .adressInputs h1 {
  @apply text-3xl leading-9 font-medium w-full mb-[15px];
}
.applyFormContainer .adressInputs #zipCode {
  @apply mr-0;
}
.applyFormContainer .contactInputs {
  @apply flex items-center flex-wrap gap-2.5;
}
.applyFormContainer .contactInputs div {
  @apply w-[calc(50%_-_6px)];
}
.applyFormContainer .contactInputs input {
  @apply w-full h-[60px] border text-[15px] mr-[15px] mb-[50px] p-[15px] rounded-[5px] border-solid border-[#bdbdbd];
}
.applyFormContainer .contactInputs h1 {
  @apply text-3xl leading-9 font-medium w-full mb-[15px];
}
.applyFormContainer .questionInputs {
  @apply flex items-center flex-wrap gap-2.5;
}
.applyFormContainer .questionInputs div {
  @apply w-[calc(50%_-_6px)];
}
.applyFormContainer .questionInputs select {
  @apply w-full h-[60px] border text-[15px] appearance-none bg-no-repeat bg-cover mr-[15px] mb-[50px] pr-[30px] p-[15px] rounded-[5px] border-solid border-[#bdbdbd];
}
.applyFormContainer .questionInputs h1 {
  @apply text-[29px] leading-9 font-medium w-full mb-[15px];
}
.applyFormContainer .resumeInputs .resume h1 {
  @apply text-3xl leading-9 mb-[15px];
}
.applyFormContainer .resumeInputs .innerResume {
  @apply text-center border mb-[50px] p-[35px] rounded-[5px] border-solid border-[#bdbdbd];
}
.applyFormContainer .resumeInputs img {
  @apply m-auto;
}
.applyFormContainer .resumeInputs .innerResume h2 {
  @apply text-3xl leading-9;
}
.applyFormContainer .resumeInputs .innerResume h3 {
  @apply text-lg leading-8 text-[#bdbdbd];
}
.applyFormContainer .resumeInputs .innerResume #fileHere {
  @apply hidden;
}
.applyFormContainer .resumeInputs .fileInput input[type="file"] {
  @apply hidden;
}
.applyFormContainer .resumeInputs .coverLetter h1 {
  @apply text-3xl leading-9 font-medium mb-[15px];
}
.applyFormContainer .resumeInputs .coverLetter textarea {
  @apply w-full min-h-[400px] resize-y border text-[15px] overflow-auto mr-[15px] mb-[50px] p-[15px] rounded-[5px] border-solid border-[#bdbdbd];
}
.applyFormContainer form #applyBtn {
  @apply w-[280px] h-[75px] text-3xl leading-[43px] text-white rounded-[100px] hover:relative hover:right-[0.6px] hover:bottom-[0.5px];
  background: linear-gradient(
    90deg,
    #1293bc -10.29%,
    #0028fb 25.21%,
    #6100ff 65.24%,
    #0073ff 113.66%
  );
}
.applyFormContainer form #applyBtn:hover {
  background: linear-gradient(
    90deg,
    #6100ff -10.29%,
    #0028fb 25.21%,
    #0073ff 65.24%,
    #1293bc 113.66%
  );
}

/* ----------------- TABLET BREAKPOINT -------------------- */
@media (min-width: 600px) and (max-width: 1024px) {
  .applyFormContainer form h1 {
    @apply mt-10;
  }
  .applyContainer .applyHeader > p {
    @apply hidden;
  }
  .applyContainer .mobilViewInfo span {
    @apply text-3xl font-semibold;
  }
  .applyContainer .mobilViewText {
    @apply px-[30px] py-[60px];
  }
  .applyQualifications {
    @apply px-20 py-0;
  }

  .applyFormContainer .resumeInputs img {
    @apply max-w-[50%];
  }

  .applyFormContainer .resumeInputs .innerResume h2 {
    @apply text-2xl leading-9;
  }

  #filehere{
    @apply text-xl leading-9;
  }
  .applyFormContainer form {
    @apply px-20 py-0;
  }
  .applyContainer .mobilViewText p {
    @apply text-[19px] leading-[50px] mx-auto my-[30px] px-[50px] py-0;
  }
  .applyFormContainer form #applyBtn {
    @apply text-3xl leading-[43px] text-white w-[300.17px] h-[89px] rounded-[100px];
    background: linear-gradient(
      90deg,
      #1293bc -10.29%,
      #0028fb 25.21%,
      #6100ff 65.24%,
      #0073ff 113.66%
    );
  }
  .applyContainer .applyHeader {
    @apply pl-[70px] pr-[50px] pt-[150px] pb-[100px];
  }
}

/* ----------------- PHONE BREAKPOINT ----------------- */
@media (max-width: 599px) {
  .applyContainer {
    @apply w-full p-2.5;
  }
  .applyContainer .applyHeader {
    @apply px-0 py-[100px];
  }
  .applyContainer .applyHeader h1 {
    @apply text-3xl leading-9;
  }
  .applyContainer .applyHeader > p {
    @apply hidden;
  }
  .applyContainer .applyHeader .mobilViewInfo {
    @apply block;
  }
  .applyContainer .applyHeader .mobilViewInfo p {
    @apply text-[26px] leading-[50px];
  }
  .applyContainer .applyHeader .mobilViewInfo span {
    @apply text-3xl font-semibold;
  }
  .applyContainer .mobilViewText {
    @apply block px-[37px] py-0;
  }
  .applyContainer .mobilViewText p {
    @apply text-lg font-[26px] mx-auto my-[30px];
  }
  .applyContainer .applyQualifications {
    @apply px-0;
  }
  .applyContainer .applyQualifications h1 {
    @apply text-3xl leading-9;
  }
  .applyQualifications ul li {
    @apply text-lg leading-[26px];
  }
  .applyFormContainer {
    @apply w-full px-[auto] py-0;
  }
  .applyFormContainer form {
    @apply px-[37px] py-0;
  }

  .applyFormContainer .resumeInputs img {
    @apply max-w-[50%];
  }

  .applyFormContainer .resumeInputs .innerResume h2 {
    @apply text-2xl leading-9;
  }

  #filehere{
    @apply text-xl leading-9;
  }

  .applyFormContainer form > div {
    @apply my-2.5;
  }
  .applyFormContainer form h1 {
    @apply text-3xl leading-9 mb-[30px];
  }
  .applyFormContainer .nameInputs input {
    @apply w-full mb-5;
  }
  .applyFormContainer .birthdayInputs select {
    @apply w-[calc(33.9%_-_10px)] bg-[15px] mr-2.5 mb-5 bg-none;
  }
  .applyFormContainer .adressInputs input {
    @apply w-full mb-5;
  }
  .applyFormContainer .contactInputs div {
    @apply w-full mb-5;
  }
  .applyFormContainer .contactInputs div input {
    @apply mb-0;
  }
  .applyFormContainer .questionInputs div {
    @apply w-full mb-5;
  }
  .applyFormContainer .questionInputs div select {
    @apply bg-[15px] mb-0;
  }
  .applyFormContainer form #applyBtn {
    @apply text-base leading-[19px] text-white w-[134px] h-[51px] rounded-[100px];
    background: linear-gradient(
      90deg,
      #1293bc -10.29%,
      #0028fb 25.21%,
      #6100ff 65.24%,
      #0073ff 113.66%
    );
  }
  .applyFormContainer .resumeInputs .innerResume h3 {
    @apply hidden;
  }
  .applyFormContainer .resumeInputs .innerResume #fileHere {
    @apply block;
  }
}
