/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.careersHeaderContainer {
  @apply overflow-x-hidden flex items-center h-screen bg-no-repeat mt-[100px] bg-[100%] justify-center;
  background: url(../materials/bluePinkBackground.svg);
  background-size: cover;
}
.careersBiggestHeader p {
  @apply text-[rgba(0,113,251,1)] text-[50px] font-bold leading-[60px] tracking-[0px] text-left;

  font-family: MonumentExtended;
}
.careersSmallHeader p {
  @apply text-[40px] font-medium leading-[60px] tracking-[0px] text-left;
  font-family: MonumentExtended;
}
.careersHeaderPar {
  @apply text-[26px] font-normal leading-[50px] tracking-[0px] text-left;
  font-family: MonumentExtended;
}
.careersHeaderAllContent {
  @apply flex w-[85%] h-screen justify-start;
}
.careersHeaderAllText {
  @apply flex w-1/2 mt-[100px]  flex-col ;
}
.careersSmallHeader {
  @apply mt-[1.563rem] mb-10 mx-0;
}
.careersHeaderImageContainer {
  @apply flex h-full w-1/2;
}
.careersHeaderImageContainer img {
  @apply  translate-x-[13%] scale-[120%];
}
#mobileAmsterdamImage {
  @apply hidden;
}
.mobilCareersHeaderImageContainer {
  @apply hidden;
}

@media (min-width: 1024px) and (max-width: 1500px) {
  .careersHeaderImageContainer img {
    @apply translate-y-[-20%]; 
  }

}


/* TABLET BREAKPOINT */
@media (min-width: 600px) and (max-width: 1024px) {
  .careersBiggestHeader p {
    @apply text-[40px];
  }
  .careersSmallHeader p {
    @apply text-[#252525] text-3xl not-italic font-medium leading-[normal] capitalize;
    font-feature-settings: "clig" off, "liga" off;

    /* MGS/Heading/Heading 4 */
  }
  .careersHeaderPar p {
    @apply text-[color:var(--color-secondary,#1A1A1A)] text-[22px] not-italic font-normal leading-[39px];
    font-feature-settings: "clig" off, "liga" off;

    /* MGS/Paragraph/Para 3 */

    /* 177.273% */
  }
  #memberImage #socialImage {
    @apply w-full h-full;
  }
  .hiringContainer .imageContainer .imageText {
    @apply text-[40px] font-medium leading-[60px] tracking-[0px];
  }
  .hiringSection > div {
    @apply w-auto;
  }
  .hiringSection .apply {
    @apply w-3/12;
  }
  .hiringSectionFirst span {
    @apply justify-center;
  }
  .hiringSectionFirst .hiringFeatures {
    @apply items-end;
  }
  .hiringSectionFirst .hiringFeatures img {
    @apply pb-[7px];
  }
 .careersHeaderImageContainer {
  @apply flex  !items-center !h-auto !w-1/2;
}
.careersHeaderImageContainer img {
  @apply  translate-x-[13%] scale-[120%] ;
}
  .careersHeaderAllContent {
    @apply h-2/5 mt-[125px] ml-[75px];
  }
  .careersHeaderContainer {
    @apply h-full;
  }
  .careersHeaderAllText {
    @apply mt-0 w-[50%];
  }
}

/* PHONE BREAKPOINT */
@media (max-width: 599px) {
  .careersHeaderContainer {
      background: url(/_next/static/media/bluePinkBackground.db02b1bc.svg);
    @apply h-auto bg-no-repeat bg-cover justify-center;
  }
  .mobilCareersHeaderImageContainer {
    @apply flex justify-center h-full mb-[50px];
  }
  .careersBiggestHeader p {
    @apply text-3xl;
  }
  .careersSmallHeader {
    @apply mb-0;
  }
  .careersSmallHeader p {
    @apply text-[23px] font-medium leading-[31px] tracking-[0px] text-center w-4/5 m-auto;
  }
  .careersHeaderImageContainer {
    @apply hidden;
  }

  .careersHeaderAllContent {
    @apply flex m-0 flex-col w-full h-full justify-end;
  }
  .careersHeaderAllText {
    @apply flex items-center w-full flex-col gap-5 mt-[95px];
    position: unset;
  }
  .careersHeaderPar {
    @apply text-[25px] font-normal leading-[3rem] text-center tracking-[0px] mx-[5px] my-0 mt-[-70px];
    font-family: MonumentExtended;
  }
  .careersHeaderPar br {
    @apply hidden;
  }
  .careersHeaderPar p {
    @apply text-[22px] font-normal leading-[39px] tracking-[0px] text-center w-[90%] mb-[100px] mx-auto;;
  }
  .careersHeaderImageContainer img {
    @apply w-full;
  }
  .MemberCardContainer {
    @apply justify-center gap-14 flex-wrap;

    /* width: 80%; */

    /* margin: 5.5rem auto 7rem auto; */
  }
  #webAmsterdamImage {
    @apply hidden;
  }
  #mobileAmsterdamImage {
    @apply block;
  }
}
