/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.careersHeaderContainer {
  @apply overflow-x-hidden flex items-center h-screen bg-no-repeat bg-[100%] bg-cover justify-center;
  background: url(../materials/bluePinkBackground.svg);
}
.careersBiggestHeader p {
  @apply text-[rgba(0,113,251,1)] text-[3.4rem] font-bold leading-[4.5rem] tracking-normal text-left;
  font-family: MonumentExtended;
}
.careersSmallHeader p {
  @apply text-5xl font-normal leading-[4rem] tracking-[0px] text-left w-[90%];
  font-family: MonumentExtended;
}
.careersHeaderPar {
  @apply text-[2.3rem] font-normal leading-[3rem] tracking-[1px] text-left tracking-[-1px];
  font-family: MonumentExtended;
}
.careersHeaderAllContent {
  @apply flex w-full h-full justify-end;
}
.careersHeaderAllText {
  @apply flex absolute w-6/12 flex-col mt-[11.2rem] left-44;
}
.careersSmallHeader {
  @apply mt-[1.563rem] mb-10 mx-0;
}
.careersHeaderImageContainer {
  @apply flex justify-end h-full;
}
.careersHeaderImageContainer img {
  @apply w-[68%];
}
#mobileAmsterdamImage {
  @apply hidden;
}
.mobilCareersHeaderImageContainer {
  @apply hidden;
}

/* TABLET BREAKPOINT */
@media (min-width: 600px) and (max-width: 1024px) {
  .careersBiggestHeader p {
    @apply text-[40px];
  }
  .careersSmallHeader p {
    @apply text-[#252525] text-3xl not-italic font-medium leading-[normal] capitalize;
    font-feature-settings: "clig" off, "liga" off;

    /* MGS/Heading/Heading 4 */
  }
  .careersHeaderPar p {
    @apply text-[color:var(--color-secondary,#1A1A1A)] text-[22px] not-italic font-normal leading-[39px];
    font-feature-settings: "clig" off, "liga" off;

    /* MGS/Paragraph/Para 3 */

    /* 177.273% */
  }
  #memberImage #socialImage {
    @apply w-full h-full;
  }
  .hiringContainer .imageContainer .imageText {
    @apply text-[40px] font-medium leading-[60px] tracking-[0px];
  }
  .hiringSection > div {
    @apply w-auto;
  }
  .hiringSection .apply {
    @apply w-3/12;
  }
  .hiringSectionFirst span {
    @apply justify-center;
  }
  .hiringSectionFirst .hiringFeatures {
    @apply items-end;
  }
  .hiringSectionFirst .hiringFeatures img {
    @apply pb-[7px];
  }
  .careersHeaderImageContainer {
    @apply h-[600px] overflow-hidden;
  }
  .careersHeaderImageContainer img {
    @apply h-[250px] w-full object-fill;
  }
  .careersHeaderAllContent {
    @apply h-2/5 mt-[125px];
  }
  .careersHeaderContainer {
    @apply h-full;
  }
  .careersHeaderAllText {
    @apply mt-0 left-16;
  }
}

/* PHONE BREAKPOINT */
@media (max-width: 599px) {
  .careersHeaderContainer {
    @apply bg-none h-auto bg-no-repeat bg-[100%] justify-center;
  }
  .mobilCareersHeaderImageContainer {
    @apply flex justify-center h-full mb-[50px];
  }
  .careersBiggestHeader p {
    @apply text-3xl;
  }
  .careersSmallHeader {
    @apply mb-0;
  }
  .careersSmallHeader p {
    @apply text-[23px] font-medium leading-[31px] tracking-[0px] text-center w-4/5 m-auto;
  }
  .careersHeaderImageContainer {
    @apply hidden;
  }
  .careersHeaderContainer {
    background: url(/_next/static/media/bluePinkBackground.db02b1bc.svg);
  }
  .careersHeaderAllContent {
    @apply flex flex-col w-full h-full justify-end;
  }
  .careersHeaderAllText {
    @apply flex items-center w-full flex-col gap-5 mt-[95px];
    position: unset;
  }
  .careersHeaderPar {
    @apply text-[25px] font-normal leading-[3rem] text-center tracking-[0px] mx-[5px] my-0 mt-[-70px];
    font-family: MonumentExtended;
  }
  .careersHeaderPar br {
    @apply hidden;
  }
  .careersHeaderPar p {
    @apply text-[22px] font-normal leading-[39px] tracking-[0px] text-center w-[90%] m-auto;
  }
  .careersHeaderImageContainer img {
    @apply w-full;
  }
  .MemberCardContainer {
    @apply justify-center gap-14 flex-wrap;

    /* width: 80%; */

    /* margin: 5.5rem auto 7rem auto; */
  }
  #webAmsterdamImage {
    @apply hidden;
  }
  #mobileAmsterdamImage {
    @apply block;
  }
}
