.careersHeaderContainer {
  overflow-x: hidden;
  display: flex;
  align-items: center;
  height: 100vh;
  background: url(../materials/bluePinkBackground.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  justify-content: center;
}

.careersBiggestHeader p {
  font-family: MonumentExtended;
  color: rgba(0, 113, 251, 1);
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 4.5rem;
  letter-spacing: 0em;
  text-align: left;

}

.careersSmallHeader p {
  font-family: MonumentExtended;
  font-size: 3rem;
  font-weight: 400;
  line-height: 4rem;
  letter-spacing: 0px;
  text-align: left;
  width: 90%;
}

.careersHeaderPar {
  font-family: MonumentExtended;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 1px;
  text-align: left;
  letter-spacing: -1px;
}

.careersHeaderAllContent {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
}

.careersHeaderAllText {
  display: flex;
  position: absolute;
  margin-top: 11.2rem;
  width: 50%;
  flex-direction: column;
  left: 11rem;
}

.careersSmallHeader {
  margin: 1.563rem 0 2.5rem 0;
}

.careersHeaderImageContainer {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.careersHeaderImageContainer img {
  width: 68%;
}

#mobileAmsterdamImage {
  display: none;
}

.mobilCareersHeaderImageContainer {
  display: none;
}





/* TABLET BREAKPOINT */
@media (min-width: 600px) and (max-width: 1024px) {



  .careersBiggestHeader p {
    font-size: 40px;
  }

  .careersSmallHeader p {
    color: #252525;
    font-feature-settings: 'clig' off, 'liga' off;

    /* MGS/Heading/Heading 4 */
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
  }

  .careersHeaderPar p {
    color: var(--color-secondary, #1A1A1A);
    font-feature-settings: 'clig' off, 'liga' off;

    /* MGS/Paragraph/Para 3 */
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
    /* 177.273% */
  }

  #memberImage #socialImage {
    width: 100%;
    height: 100%;
  }

  .hiringContainer .imageContainer .imageText {

    font-size: 40px !important;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0px;
  }



  .hiringSection>div {
    width: auto;
  }

  .hiringSection .apply {
    width: 25% !important;
  }

  .hiringSectionFirst span {
    justify-content: center;
  }

  .hiringSectionFirst .hiringFeatures {
    align-items: flex-end !important;
  }

  .hiringSectionFirst .hiringFeatures img {
    padding-bottom: 7px;
  }

  .careersHeaderImageContainer{
    height: 600px;
    overflow: hidden;
  }

  .careersHeaderImageContainer img{
    height: 250px;
    width: 100%;
    object-fit: fill;
  }

  .careersHeaderAllContent {
    height: 40%;
    margin-top: 125px;
  }
  .careersHeaderContainer{
    height: 100%;
  }
  .careersHeaderAllText{
    margin-top: 0px;
    left: 4rem;
  }
}

/* PHONE BREAKPOINT */
@media (max-width: 599px) {

  .careersHeaderContainer {
    background-image: none;
  }

  .mobilCareersHeaderImageContainer {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    height: 100%;
  }

  .careersBiggestHeader p {
    font-size: 30px;
  }

  .careersSmallHeader {
    margin-bottom: 0;
  }

  .careersSmallHeader p {
    font-size: 23px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0px;
    text-align: center;
    margin: auto;
    width: 80%;
  }

  .careersHeaderImageContainer {
    display: none;
  }

  .careersHeaderContainer {
    height: auto;
    background: url(/_next/static/media/bluePinkBackground.db02b1bc.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: center;
  }

  .careersHeaderAllContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
  }

  .careersHeaderAllText {
    display: flex;
    position: unset;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-top: 95px;
    gap: 20px;
  }

  .careersHeaderPar {
    font-family: MonumentExtended;
    font-size: 25px;
    font-weight: 400;
    line-height: 3rem;
    text-align: center;
    letter-spacing: 0px;
    margin: 0px 5px;
  }

  .careersHeaderPar br {
    display: none;
  }

  .careersHeaderPar {
    margin-top: -70px;
  }

  .careersHeaderPar p {
    font-size: 22px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: center;
    margin: auto;
    width: 90%;
  }

  .careersHeaderImageContainer img {
    width: 100%;
  }

  .MemberCardContainer {
    justify-content: center;
    /* width: 80%; */
    gap: 3.5rem;
    /* margin: 5.5rem auto 7rem auto; */
    flex-wrap: wrap;
  }

  #webAmsterdamImage {
    display: none;
  }

  #mobileAmsterdamImage {
    display: block;
  }
}