/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
* {
  @apply box-border m-0 p-0;
  font-family: MonumentExtended;
}
.feedbackContainer {
  @apply flex flex-col items-center w-4/5 opacity-30 mb-10 m-auto;
}
.feedbackContainer h1 {
  @apply text-3xl font-medium text-center p-[30px];
}
.feedbackContainer h1 span {
  @apply text-[rgba(0,113,251,1)];
}
.feedbackContainer .form {
  @apply flex flex-col border h-full px-[50px] rounded-[30px] border-solid border-[#a0def3];
}
.rate {
  @apply flex justify-between items-center mt-5 mb-[30px] px-2.5 py-5 border-b-[#a0def3] border-b border-solid;
}
.rate span {
  @apply text-xs;
}
.rate button {
  @apply text-[13px] border bg-[rgba(223,222,222,0.6)] text-black w-[30px] h-[30px] items-center text-center m-2.5 rounded-[50%] border-solid border-[#c7d3d3];
}
.feedbackContainer .form textarea {
  @apply w-full h-[70%] border px-[30px] py-5 rounded-[30px] border-solid border-[rgba(223,222,222,0.6)];
}
.feedbackContainer .form textarea::placeholder {
  @apply text-[15px];
}
.form .error {
  @apply float-left px-[5px] py-2.5;
}
.form #submitBtn {
  @apply border text-[15px] text-white bg-[rgba(0,113,251,1)] transition-[0.4s] mx-0 my-5 px-[30px] py-[15px] rounded-[30px] border-solid border-[rgba(0,113,251,1)] hover:text-[rgba(0,113,251,1)] hover:bg-white;
}

/*Mobile*/
@media (max-width: 599px) {
  * {
    @apply box-border m-0 p-0;
    font-family: MonumentExtended;
  }
  .feedbackContainer {
    @apply opacity-30 flex flex-col items-center w-full mb-10 m-auto;
  }
  .feedbackContainer h1 {
    @apply text-[20.7px] font-[bold] text-center p-[30px];
  }
  .feedbackContainer h1 span {
    @apply text-[rgba(0,113,251,1)];
  }
  .feedbackContainer .form {
    @apply flex flex-col justify-center items-center border h-full m-5 p-5 rounded-[30px] border-solid border-[#a0def3];
  }
  .rate {
    @apply flex flex-col justify-center items-start w-full gap-[15px] px-2.5 py-5 border-b-[#a0def3] border-b border-solid;
  }
  .rate span {
    @apply text-[15px] ml-2.5;
  }
  .rate button {
    @apply text-[13px] border bg-[rgba(223,222,222,0.6)] text-black w-5 h-5 items-center text-center m-2.5 rounded-[50%] border-solid border-[#c7d3d3];
  }
  .feedbackContainer .form textarea {
    @apply w-full h-[70%] border px-[30px] py-5 rounded-[30px] border-solid border-[rgba(223,222,222,0.6)];
  }
  .feedbackContainer .form textarea::placeholder {
    @apply text-[15px];
  }
  .form .error {
    @apply float-left px-[5px] py-2.5;
  }
  .form #submitBtn {
    @apply border text-[15px] text-white bg-[rgba(0,113,251,1)] transition-[0.4s] mx-0 my-5 px-[30px] py-[15px] rounded-[30px] border-solid border-[rgba(0,113,251,1)] hover:text-[rgba(0,113,251,1)] hover:bg-white;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .feedbackContainer {
    @apply opacity-30;
  }
}
