.partnershipAllContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1DA7D9;
    border-radius: 1.2rem;
    justify-content: start;
    padding-left: 200px;
    margin-bottom: 200px;
    max-height: 500px;
}

.getInTouchContainer {
    width: 50%;
    margin: 100px 30px 120px -50px;
}

.getInTouchContainer h1 {
    color: #FFFFFF;
    font-size: 50px;
    font-family: MonumentExtended;
    font-weight: 700;
}

.getInTouchContainer h3 {
    color: #FFFFFF;
    font-size: 24px;
    font-family: MonumentExtended;
    font-weight: 100;
}

.formContainer {
    margin-top: 150px;
    background-color: #FFFFFF;
    border-radius: 1.2rem;
    padding: 44px 32px 44px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 20px;
    box-shadow: 0px 0px 50px 1px #515458;
}

.formContainer input {
    border: 1px solid #BDBDBD;
    color: #BDBDBD;
    border-radius: 5px;
    width: 247px;
    height: 48px;
    padding: 10px;

}

.formContainer label {
    font-size: 12px;
    color: #515458;
}

.formContainer button {
    font-size: 16px;
    color: #fff;
    background-color: black;
    border-radius: 42px;
    width: 218px;
    height: 64px;
    border: 2px solid #1DA7D9;
    padding: 20px 40px 20px 40px;
    font-family: MonumentExtended;
}

.namesContainer {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.groupContainer {
    display: flex;
    flex-direction: column;
}

.comphoneContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}



#details {
    height: 162px;
    width: 100%;
}

#email {
    width: 100%;
}

/* TABLET BREAKPOINT */
@media (min-width: 600px) and (max-width: 991px) {
     .partnershipAllContainer {
        margin: auto 0px;
        padding: 50px;
        margin-bottom: 100px;
        max-height: 700px;
    }

    .getInTouchContainer {
        width: 100%;
        margin: 0 !important;
    }

    .getInTouchContainer h1 {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 20px;
        font-weight: 500;

    }

    .getInTouchContainer h3 {
        font-size: 22px;
        line-height: 39px;
    }

    .formContainer {
        width: 100% !important;
        margin: 0;
        padding-bottom: 10px;
        margin-top: 150px;
    }

    .namesContainer, .comphoneContainer {
        width: 100%;
        justify-content: space-between;
    }
    .formContainer input {
        width: 120px;
    }

    .formContainer input::placeholder {
        font-size: 10px;
    }

    .groupContainer + button{
        margin-bottom: 10px;
    }
}

/* PHONE BREAKPOINT */
@media (max-width: 599px) {
    .partnershipAllContainer {
        flex-direction: column;
        padding: 20px !important;
        margin: 0 -32px !important;
        padding: 50px;
    }

    .getInTouchContainer {
        margin: 0;
        width: 100%;
    }

    .getInTouchContainer h1 {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 20px;
    }

    .getInTouchContainer h3 {
        font-size: 16px;
        line-height: 29px;
    }

    .formContainer {
        width: 100vw;
        margin-top: 20px;
        margin-bottom: 20px;
        box-sizing: border-box;
    }

    .namesContainer, .comphoneContainer {
        width: 100%;
        justify-content: space-between;
    }
    .formContainer input {
        width: 150px;
    }
}