/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.partnershipAllContainer {
  @apply flex items-center justify-center bg-[rgba(0,113,251,1)] max-h-[500px] mb-[200px] pl-[100px] rounded-[1.2rem];
}
.getInTouchContainer {
  @apply w-6/12 ml-[-50px] gap-[30px] flex flex-col mr-[30px] mt-[100px] mb-[120px];
}
.getInTouchContainer h1 {
  @apply text-white text-[40px] font-medium leading-[60px] tracking-[0px];
  font-family: MonumentExtended;
}
.getInTouchContainer h3 {
  @apply text-justify text-white text-[22px] font-normal leading-[50px] tracking-[0px] text-left;
}
.formContainer {
  @apply w-2/5 bg-white flex flex-col justify-center gap-5 shadow-[0px_0px_50px_1px_#515458] mt-[150px] px-8 py-11 rounded-[1.2rem];
  align-items: left;
}
.formContainer input {
  @apply border text-[#BDBDBD] w-full h-12 p-2.5 rounded-[5px] border-solid border-[#BDBDBD];
}
.formContainer label {
  @apply text-xs text-[#515458];
}
.formContainer button {
  @apply text-base text-white w-[218px] h-16 px-10 py-5 rounded-[42px];
  background: linear-gradient(
    90deg,
    #1293bc -10.29%,
    #0028fb 25.21%,
    #6100ff 65.24%,
    #0073ff 113.66%
  );
  font-family: MonumentExtended;
}
.namesContainer {
  @apply gap-5 flex justify-between items-center;
}
.groupContainer {
  @apply flex w-full flex-col;
}
.comphoneContainer {
  @apply flex justify-center items-center gap-5;
}
#details {
  @apply h-[162px] w-full;
}
#email {
  @apply w-full;
}

/* TABLET BREAKPOINT */
@media (min-width: 600px) and (max-width: 1024px) {
  .partnershipAllContainer {
    @apply max-h-[600px] mb-[100px] mx-0 my-auto p-5;
  }
  .getInTouchContainer {
    @apply w-full m-0 p-5;
  }
  .getInTouchContainer h1 {
    @apply text-3xl leading-9 font-medium mb-5;
  }
  .getInTouchContainer h3 {
    @apply text-[22px] leading-[39px];
  }
  .formContainer {
    @apply w-full mt-[150px] m-0 pb-2.5;
  }
  .namesContainer,
  .comphoneContainer {
    @apply w-full justify-between;
  }
  .formContainer input {
    @apply w-full;
  }
  .formContainer input::placeholder {
    @apply text-[10px];
  }
  .groupContainer + button {
    @apply mb-2.5;
  }
}

/* PHONE BREAKPOINT */
@media (max-width: 599px) {
  .partnershipAllContainer {
    @apply flex-col max-h-[996px] mx-0 my-[60px] pt-[50px] p-0;
  }
  .getInTouchContainer {
    @apply w-full m-0;
  }
  .getInTouchContainer h1 {
    @apply text-3xl leading-9 w-[88%] mb-5 m-auto;
  }
  .getInTouchContainer h3 {
    @apply text-base leading-[29px] w-[87%] m-auto;
  }
  .formContainer {
    @apply w-screen box-border mt-[30px];
  }
  .namesContainer,
  .comphoneContainer {
    @apply w-full justify-between;
  }
  .formContainer input {
    @apply w-full;
  }
}
