* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: MonumentExtended;
}

.hiringContainer{
    margin-top: 50px;
    margin-bottom: 50px;
}


.hiringContainer .imageContainer {
    position: relative;
}

.hiringContainer .imageContainer .imageText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 70px;
    font-weight: 500;
    color: #fff;
    width: 100%;
    text-align: center;
}

.hiringContainer .headerSection {
    width: 100%;
    text-align: center;
    padding: 120px 120px 60px 120px;
}

.hiringContainer .headerSection > span {
    border: 2px solid #17a3d3;
    border-radius: 100px;
    font-size: 37px;
    padding: 20px 50px;
}

.hiringContainer .headerSection h1 {
    margin-top: 30px;
    font-size: 60px;
    font-weight: 500;
}

.hiringContainer .headerSection h1 span {
    color: #17a3d3;
}

.hiringContainer .hiring{
padding-left: 60px;
padding-right: 60px;

}


.hiringContainer .headerSection  p{
    font-size: 28px;
    margin-bottom: 20px;
}

.hiringContainer .hiringSection {
    border-top: 1px solid #b8b4b4fa;
    display: flex;
    padding: 20px 0px;
}


.hiringSection .hiringTitle {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}

.hiringSection #hiringDescription {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}


.hiringSection .hiringFeatures{
    border: 2px solid #b3b3b3;
    border-radius: 100px;
    padding: 10px 20px;
    font-size: 28px;
    margin-right: 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.hiringFeatures img{
    align-items:flex-end;
    height: 10% !important;
}

.hiringSection .apply{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    width: 100%;
}
.hiringSection .apply a img{
    display: inline;

}

.hiringSection .apply a{
    float: right !important;
}

#viewmore{
    color: #17a3d3 !important;
    font-size: 35px !important;
    margin-top: 20px !important;
    margin-left: 60px !important;
    display: flex;
    gap: 12px;
    align-items: center;
}
