/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

.HomeShapingContainer {
  @apply justify-center flex flex-col items-center w-full bg-no-repeat px-0 py-[200px];
  background: url(../materials/HomeShapingBackground.svg);
  background-size: cover;
}
.HomeShapingBottomLine {
  @apply w-[200px] border border-solid border-[#a9a9a9];
}
.text-shaping {
  @apply text-[100px] font-bold leading-[100px] tracking-normal text-center;
  font-family: MonumentExtended;
}
.text-creativity {
  @apply text-[100px] font-bold leading-[100px] tracking-normal text-center text-[rgba(0,113,251,1)];
  font-family: MonumentExtended;
}
.at-mood-global {
  @apply w-[55%] text-[26px] font-normal leading-[50px] tracking-[0px] text-center mt-[1.6rem] m-auto;
  font-family: MonumentExtended;
}
.HomeShapingbuttons {
  @apply flex justify-center gap-[30px] w-3/12 min-w-[330px] mt-[30px];
}
.homeshapping-btn {
  @apply w-[239px] h-16 text-[black] rounded-[100px] border-2 border-solid border-[rgba(0,113,251,1)];
}
.homeshapping-btn.black {
  @apply text-[white];
  background: linear-gradient(
    90deg,
    #1293bc -10.29%,
    #0028fb 25.21%,
    #6100ff 65.24%,
    #0073ff 113.66%
  );
}
.homeshapping-btn.black:hover {
  background: linear-gradient(
    270deg,
    #1293bc -17.86%,
    #0028fb 36%,
    #6100ff 96.72%,
    #0073ff 170.17%
  );
}
.homeshapping-btn.white:hover {
  @apply text-[white];
  background: linear-gradient(
    90deg,
    #1293bc -10.29%,
    #0028fb 25.21%,
    #6100ff 65.24%,
    #0073ff 113.66%
  );
}

/* TABLET BREAKPOINT */
@media (min-width: 600px) and (max-width: 1024px) {
  .HomeShapingContainer {
    @apply bg-cover text-center mt-[50px] px-2.5 py-[125px];
  }
  .at-mood-global {
    @apply text-[22px] leading-[37px] w-[85%] mt-4;
  }
  .HomeShapingbuttons {
    @apply flex gap-5 mt-20 w-full mt-10 mb-[70px] mx-0;
  }
  .homeshapping-btn {
    @apply text-xl leading-6 w-[230px] h-20 px-[30px] py-4 border-2 border-solid;
  }
  .homeshapping-btn.black {
    @apply bg-[#1a1a1a] text-[white] border-[#0071fb];
  }
  .homeshapping-btn.white {
    @apply border-[#0071fb];
  }
  .HomeShapingBottomLine {
    @apply hidden;
  }
  .text-shaping,
  .text-creativity {
    @apply text-[80px] font-bold leading-[90px] tracking-normal text-center;
  }
  .HomeShapingHeaders {
    @apply mb-[30px];
  }
  .HomeShapingbuttons button {
    @apply h-[65px];
  }
}

/* PHONE BREAKPOINT */
@media (max-width: 599px) {
  .HomeShapingContainer {
    @apply bg-cover text-center py-[175px];
  }
  .firsRow {
    @apply p-2.5;
  }
  .HomeShapingParagraph {
    @apply flex justify-center items-center w-full;
  }
  .text-shaping,
  .text-creativity {
    @apply text-[44px] font-bold leading-[50px] tracking-normal text-center;
  }
  .at-mood-global {
    @apply w-[90%] text-base leading-[30px] mt-4 m-0;
  }
  .HomeShapingbuttons {
    @apply flex gap-5 mt-20;
  }
  .homeshapping-btn {
    @apply h-[60px] px-[30px] py-4 border-2 border-solid;
  }
  .homeshapping-btn.black {
    @apply bg-[#1a1a1a] text-[white] border-[#0071fb];
  }
  .homeshapping-btn.white {
    @apply border-[#0071fb];
  }
  .HomeShapingBottomLine {
    @apply hidden;
  }
}
