/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.moodConvertAllContainer {
	@apply flex flex-col items-center justify-center w-full;
}
.bigBackground {
	@apply w-full bg-[url("../materials/moodConverAIImages/background.svg")];
}
.smallBackground {
	@apply flex items-center justify-center bg-[url("../materials/moodConverAIImages/Frame1261152487.svg")] w-full bg-[100%] bg-no-repeat;
}
.moodConvertAIContainer {
	@apply gap-1.5 flex flex-col items-center justify-center text-center mx-0 my-40;
}
.moodConvertAIContainer h1 {
	@apply text-[120px];
}
.moodConvertAIContainer span {
	@apply font-[bold];
}
.moodConvertAIContainer h2 {
	@apply text-[120px] font-bold leading-[110px] w-[70%] leading-[150px]  tracking-[0px] text-center;
	

  font-family: MonumentExtended;
}
#aiTextBlue {
	@apply text-[120px] font-bold leading-[110px] tracking-[0px] text-[#0071fb] text-center;
	font-family: MonumentExtended;
  }

  .moodConvertAIContainer h3 {
	@apply text-6xl font-normal leading-[90px] tracking-[0px] text-center;
  }
.AIformContainer {
	@apply bg-white opacity-30 flex flex-col items-center gap-[650px] border w-9/12 m-auto px-[7%] py-[3%] rounded-[1.2rem] border-solid border-[rgba(0,113,251,1)];
}
.underForm {
	@apply gap-5 flex flex-col;
}
.AIformContainer h4 {
	@apply text-3xl;
	font-family: MonumentExtended;
}
.groupCont,
.cardContainer {
	@apply flex justify-between w-full items-center;
}
.groupCont {
	@apply gap-5;
}
.cardContainer {
	@apply border gap-5 px-7 py-4 rounded-xl border-solid border-[#B9B9B9];
}
.cardContainer h6 {
	@apply text-[#B9B9B9] text-lg;
	font-family: MonumentExtended;
}
.cardContainer h5 {
	@apply text-[#999999] text-xl text-[black];
	font-family: MonumentExtended;
}
.textContainer {
	@apply flex flex-col gap-1.5;
}
.inputArea {
	@apply border text-[#BDBDBD] h-20 w-full pl-[30px] p-2.5 rounded-[20px] border-solid border-[#BDBDBD];
}
.bottomCont {
	@apply flex relative justify-center items-center;
}
.sendButton {
	@apply absolute right-5 bottom-[27px];
}
.checkbox {
	@apply w-6 h-6;
}

/*Mobile*/
@media (max-width: 599px) {
	.moodConvertAllContainer {
		@apply flex flex-col items-center justify-center w-full bg-[url("../materials/moodConverAIImages/Frame1261152487.svg")] bg-[100%] bg-no-repeat bg-top;
	}
	.smallBackground {
		@apply flex items-center justify-center bg-[url("../materials/moodConverAIImages/Frame1261152487.svg")] w-full bg-[20px_15px] bg-no-repeat;
	}
	.moodConvertAIContainer {
		@apply gap-1.5 flex text-center flex-col items-center justify-center mx-0 my-40;
	}
	.moodConvertAIContainer h1 {
		@apply text-6xl;
	}
	.moodConvertAIContainer h2 {
		@apply text-[42px] font-medium leading-[50px] w-[90%] tracking-[0px] text-center;
}
	.moodConvertAIContainer span {
		@apply font-[bold];
	}
	#aiTextBlue {
		@apply text-[42px] font-bold leading-[50px] tracking-[0px] text-center text-[#0071fb];
}
	.moodConvertAIContainer h3 {
		@apply text-3xl font-normal leading-[50px] tracking-[0px] text-center;
		font-family: MonumentExtended;
}
	
	.moodConvertAIContainer img {
		@apply w-[84.798px] h-[90px] shrink-0;
	}
	.AIformContainer {
		@apply bg-white flex opacity-30 flex-col items-center gap-0 border w-[95%] m-auto px-[7%] py-[3%] rounded-[1.2rem] border-solid border-[rgba(0,113,251,1)];
	}
	.underForm {
		@apply gap-5 flex flex-col;
	}
	.AIformContainer h4 {
		@apply text-[26px] text-center;
		font-family: MonumentExtended;
	}
	.groupCont,
	.cardContainer {
		@apply flex justify-between flex-col w-full items-center;
	}
	.groupCont {
		@apply gap-5;
	}
	.cardContainer {
		@apply text-start border gap-2.5 px-7 py-4 rounded-xl border-solid border-[#B9B9B9];
	}
	.cardContainer h6 {
		@apply text-[#B9B9B9] text-sm;
		font-family: MonumentExtended;
	}
	.cardContainer h5 {
		@apply text-[#999999] text-[19px] text-[black];
		font-family: MonumentExtended;
	}
	.textContainer {
		@apply flex flex-col gap-1.5;
	}
	.inputArea {
		@apply border text-[#BDBDBD] h-20 w-full pl-[30px] p-2.5 rounded-[20px] border-solid border-[#BDBDBD];
	}
	.bottomCont {
		@apply flex relative justify-center items-center;
	}
	.sendButton {
		@apply absolute right-5 bottom-[27px];
	}
	.checkbox {
		@apply w-6 h-6 invisible;
	}
	#backEndPrompt,
	#uiuxPrompt {
		@apply invisible;
	}
}

/*Tablet*/
@media (min-width: 600px) and (max-width: 1024px) {
	.moodConvertAllContainer {
		@apply flex flex-col items-center justify-center w-full bg-[url("../materials/moodConverAIImages/background.svg")] bg-[100%] bg-no-repeat bg-top;
	}
	.smallBackground {
		@apply flex items-center justify-center bg-[url("../materials/moodConverAIImages/Frame1261152487.svg")] w-full bg-[20px_15px] bg-no-repeat;
	}
	.moodConvertAIContainer {
		@apply gap-1.5 flex flex-col items-center justify-center text-center mx-0 my-40;
	  }
	.moodConvertAIContainer h1 {
		@apply text-[98px];
	}

		.moodConvertAIContainer h2 {
			@apply w-4/5 text-[70px] font-medium leading-[80px] tracking-[0] text-center;
			font-family: MonumentExtended;
		  }
	.moodConvertAIContainer span {
		@apply font-[bold];
	}
	#aiTextBlue {
		@apply text-[70px] font-bold leading-[80px] tracking-[0px] text-center text-[#0071fb];
		font-family: MonumentExtended;
	}
	.moodConvertAIContainer h3 {
		@apply text-[40px] font-normal leading-[80px] tracking-[0px] text-center;
		font-family:MonumentExtended;
}
	.moodConvertAIContainer img {
		@apply w-[84.798px] h-[90px] shrink-0;
	}
	.AIformContainer {
		@apply opacity-30 bg-white flex flex-col items-center gap-0 border w-[95%] h-[625px] m-auto px-[7%] py-[3%] rounded-[1.2rem] border-solid border-[rgba(0,113,251,1)];
		justify-content: end;
	}
	.underForm {
		@apply gap-5 flex flex-col;
	}
	.AIformContainer h4 {
		@apply text-[26px] text-center mb-[150px];
		font-family: MonumentExtended;
	}
	.groupCont,
	.cardContainer {
		@apply flex justify-between w-full items-center;
	}
	.groupCont {
		@apply gap-5;
	}
	.cardContainer {
		@apply text-start h-[125px] border gap-2.5 px-7 py-4 rounded-xl border-solid border-[#B9B9B9];
	}
	.cardContainer h6 {
		@apply text-[#B9B9B9] text-sm;
		font-family: MonumentExtended;
	}
	.cardContainer h5 {
		@apply text-[#999999] text-[19px] text-[black];
		font-family: MonumentExtended;
	}
	.textContainer {
		@apply flex flex-col gap-1.5;
	}
	.inputArea {
		@apply border text-[#BDBDBD] h-20 w-full pl-[30px] p-2.5 rounded-[20px] border-solid border-[#BDBDBD];
	}
	.bottomCont {
		@apply flex relative justify-center items-center;
	}
	.sendButton {
		@apply absolute right-5 bottom-[27px];
	}
	.checkbox {
		@apply w-6 h-6 invisible;
	}
}
