.headerContainer-5 {
    display: flex;
    margin: 50px auto;
}

.headerContainer-5 h1 {
    min-width: 498px;
    height: 90px;
    font-family: MonumentExtended;
    font-size: 4.375rem;
    font-weight: 300;
    line-height: 90px;
    letter-spacing: 0px;
    text-align: center;
}

.whatPeopleContainer h1 {
    font-family: MonumentExtended;
    font-size: 4.375rem;
    display: flex;
}

.headerContainer-5 h1 span {
    color: rgba(0, 113, 251, 1);
}

.headerContainerp {
    height: 150px;
    top: 4683px;
    left: 192px;
    font-family: MonumentExtended;
    font-size: 1.5625rem;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}


.whatPeopleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    background-image: url("../materials/ourPortfolioImages/Polygon\ 7.png");
    background-position-x: center;
    background-repeat: no-repeat;
    padding-top: 160px;
    gap: 60px;
}

.infoContainer {
    display: flex;
    justify-content: center;
    gap: 50px;
}


.galleryContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    gap: 20px
}

.swiper-wrapper {
    height: 500px;
}

.swiper-pagination {
    position: absolute;
    right: 10px !important;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
    height: 15px;
    width: 15px;
}

.sliderContent{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 50px;
    height: 100%;
    border: 1px solid rgba(202, 220, 227, 1);
    border-radius: 7px;
}
.sliderContent h4{
    font-family: MonumentExtended;
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: left;
    }

.sliderContent p{
    font-family:MonumentExtended;
    font-size: 27px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(0, 0, 0, 0.377);
}

.slideLink{
    display: flex;
    gap: 10px;
    color: rgba(0, 0, 0, 0.577) !important;
}

.personContainer {
    display: flex;
    align-items: center;
    margin: auto;
    width: 1500px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 100px;
    margin-bottom: 200px;
}

.personSlider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

.personSlider h2 {
    font-size: 40px;
    font-family: MonumentExtended;
}

.personSlider p {
    font-size: 28px;
    font-family: MonumentExtended;
    text-align: center;
    width: 80%;
}

/* .prev-button{
margin-right: 45px;
} */

.build30 {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 200px;
}

.build {
    width: 555px;
    height: 180px;
    top: 5693px;
    left: 308px;
    font-family: MonumentExtended;
    font-size: 4.375rem;
    font-weight: 500;
    line-height: 90px;
    letter-spacing: 0px;
    text-align: left;

}

.plus30 {
    font-size: 6rem;
    font-weight: 900;
    width: 370.43017578125px;
    height: 151.8300018310547px;
    top: 5700px;
    left: 1055.94140625px;
    color: rgba(0, 113, 251, 1);
    font-family: MonumentExtended;
}

.allContainer-5 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#iconamoon_settings {
    position: absolute;
    top: 1200px;
    left: 200px;
}

#iconoir_design {
    position: absolute;
    top: 1400px;
    left: 350px;
}

#iconoir_dev_laptop {
    position: absolute;
    top: 1050px;
    right: 150px;
}

#iconoir_dev_phone {
    position: absolute;
    top: 950px;
    left: 900px;
}

#streamline_interface {
    position: absolute;
    top: 1300px;
    right: 400px;
}


/* ------------------------ TABLET BREAKPOINT ------------------------ */
@media (min-width: 600px) and (max-width: 1024px) {
    .headerContainer-5 {
        margin: 30px 0;
    }

    .headerContainer-5 h1 {
        font-size: 40px;
        line-height: 60px;
        min-width: unset;
        text-align: left;
        display: flex;
        gap: 10px;
        align-items: center;
        height: auto;
    }

    .headerContainerp {
        width: 100%;
        padding-right: 50px;
        font-size: 22px;
        line-height: 45px;
    }

    .galleryContainer {
        margin: 50px auto;
        width: 90%;
        align-items: center;
        margin-left: 0;
    }

    .prev-button,
    .next-button {
        margin: 10px;
    }

    .swiper-wrapper {
        height: 100%;
        width: 100%;
    }

    .build30 {
        width: 100%;
        padding: 20px 0;
        margin-right: 0;
    }

    .personContainer {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0 50px;
        padding-bottom: 60px;
    }

    #iconamoon_settings {
        position: absolute;
        top: 700px;
        left: 600px;
    }

    #iconoir_design {
        position: absolute;
        top: 720px;
        left: 10px;
    }

    #iconoir_dev_laptop {
        position: absolute;
        top: 500px;
        right: 200px;
    }

    #iconoir_dev_phone {
        position: absolute;
        top: 800px;
        left: 400px;
    }

    #streamline_interface {
        position: absolute;
        top: 950px;
        right: 500px;
    }

    .whatPeopleContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .whatPeopleContainer h1 {
        font-size: 40px;
        line-height: 60px;
    }

    .personContainer {
        padding-left: 0;
    }

    .personSlider {
        gap: 10px;
        height: 100%;
        width: 100%;
    }

    .personSlider h2 {
        font-size: 30px;
        line-height: 60px;
        font-family: MonumentExtended;
    }

    .personSlider p {
        font-size: 22px;
        line-height: 37px;
        font-family: MonumentExtended;
        text-align: center;
        width: 80%;
    }

}

/* ------------------------ PHONE BREAKPOINT ------------------------ */
@media (max-width: 599px) {
    .allContainer-5 {
        margin: 0;
    }

    

    .headerContainer-5 {
        margin-left: 0;
        margin-bottom: 0;
    }

    .headerContainer-5 h1 {
        font-size: 40px;
        line-height: 60px;
        float: left;
        min-width: unset;
        height: auto;
    }

    .headerContainer-5>img {
        display: none;
    }

    .headerContainerp {
        width: 100%;
        font-size: 16px;
        line-height: 30px;
        margin: 20px 0;
    }

    .galleryContainer {
        margin: 50px 0;
        width: 100%;
        align-items: center;
    }

    .prev-button,
    .next-button {
        margin: 10px;
    }

    .swiper-wrapper {
        height: 100%;
        width: 100%;
    }

    .personContainer {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .personSlider h2 {
        font-size: 2rem;
        line-height: 2.5rem;
        text-align: center;
    }

    .personSlider p {
        font-size: 1rem;
        line-height: 1.5;
        width: 100%;
        text-align: center;
    }

    .build30 {
        padding-top: 20px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .build {
        font-size: 40px;
        line-height: 60px;
        text-align: center;
        width: 100%;
    }

    #iconamoon_settings {
        position: absolute;
        top: 550px;
        left: 300px;
    }

    #iconoir_design {
        position: absolute;
        top: 720px;
        left: 10px;
    }

    #iconoir_dev_laptop {
        position: absolute;
        top: 500px;
        right: 200px;
    }

    #iconoir_dev_phone {
        position: absolute;
        top: 800px;
        left: 250px;
    }

    #streamline_interface {
        position: absolute;
        top: 750px;
        right: 400px;
    }

    .whatPeopleContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .whatPeopleContainer h1 {
        font-size: 15px;
        line-height: 30px;
    }

    .whatPeopleContainer h1 img {
        height: 36px;
    }

    .personContainer {
        padding-left: 0;
    }

    .personSlider {
        gap: 10px;
        height: 100%;
        width: 100%;
    }

    .personSlider h2 {
        font-size: 26px;
        line-height: 60px;
        font-family: MonumentExtended;
    }

    .personSlider p {
        font-size: 16px;
        line-height: 37px;
        font-family: MonumentExtended;
        text-align: center;
        width: 80%;
    }

    .prev-button,
    .next-button {
        height: 80px;
        width: auto;
    }

    .whatPeopleContainer h1 {
        font-size: 40px;
        width: 100%;
        text-align: center;
        justify-items: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px
    }

    .whatPeopleContainer {
        width: 100%;
        padding: 0px;
        padding-top: 80px;
    }
}