/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.headerContainer-5 {
  @apply w-4/5 flex justify-start items-center mt-[100px] mx-0 m-auto;
}
.line {
  @apply grow h-0.5 text-center ml-[50px] mr-5 rounded-[5px];
  background: rgba(225, 225, 225, 1);
}
.headerContainer-5 h1 {
  @apply h-[90px] text-[4.375rem] font-light leading-[90px] tracking-[0px] text-start;
  font-family: MonumentExtended;
}
.whatPeopleContainer h1 {
  @apply text-[4.375rem] flex;
  font-family: MonumentExtended;
}
.headerContainer-5 h1 span {
  @apply text-[rgba(0,113,251,1)];
}
.headerContainerp {
  @apply w-4/5 text-[1.5625rem] font-normal leading-[50px] tracking-[0px] text-left mb-[50px] m-auto;
  font-family: MonumentExtended;
}
.whatPeoplePersonBackground {
  @apply w-full bg-[url("../materials/ourPortfolioImages/Polygon7.png")] bg-center bg-no-repeat mt-[100px];
}
.whatPeopleContainer {
  @apply w-full flex flex-col items-center gap-[60px] mt-[25rem];
}
.clutchContainer {
  @apply flex flex-col gap-[70px] text-[65px] font-medium leading-[78px] tracking-[0px] text-center justify-center items-center;
  font-family: MonumentExtended;
}
.infoContainer {
  @apply flex justify-center gap-[50px];
}
.galleryContainer {
  @apply w-[85%] flex items-center justify-center gap-5 m-auto;
}
.swiper-wrapper {
  @apply h-[500px];
}
.swiper-pagination {
  @apply absolute right-2.5;
}
.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  @apply h-[15px] w-[15px];
}
.swiper-slide .swiper-slide-active .swiper-slide-active {
  @apply flex justify-center items-center;
}
.sliderContent {
  @apply flex flex-col justify-around items-start h-full border p-5 rounded-[7px] border-solid border-[rgba(202,220,227,1)];
}
.sliderContent h4 {
  @apply text-[40px] font-medium leading-[60px] tracking-[0px] text-left;
  font-family: MonumentExtended;
}
.sliderContent p {
  @apply text-[32px] font-normal leading-[38px] tracking-[0px] text-left text-[rgba(26,26,26,1)] opacity-[60%];
  font-family: MonumentExtended;
}
.slideLink {
  @apply flex gap-2.5 text-[rgba(26,26,26,1)] opacity-[60%];
}
.personContainer {
  @apply flex items-center w-[90%] bg-[100%] bg-no-repeat my-[100px] m-auto;
}
.personSlider {
  @apply flex flex-col justify-center items-center gap-[50px];
}
.personSlider h2 {
  @apply text-[40px];
  font-family: MonumentExtended;
}
.personSlider p {
  @apply text-[26px] font-normal leading-[50px] tracking-[0px] text-center w-4/5;
  font-family: MonumentExtended;
}
.build30 {
  @apply flex items-center justify-around w-[70%] gap-[30px] m-auto pt-[150px];
}
.build {
  @apply w-[555px] h-[180px] text-[4.375rem] font-medium leading-[90px] tracking-[0px] text-left left-[308px] top-[5693px];
  font-family: MonumentExtended;
}
.plus30 {
  @apply text-center items-center text-[15rem] font-black flex text-[rgba(0,113,251,1)] left-[1055.94140625px] top-[5700px];
  font-family: MonumentExtended;
}
.ourPortfolioContainer {
  @apply gap-[30px] relative flex flex-col justify-center items-center mb-[200px];
}
#iconamoon_settings {
  @apply absolute left-[200px] top-[1250px];
}
#iconoir_design {
  @apply absolute left-[350px] top-[1800px];
}
#iconoir_dev_laptop {
  @apply absolute right-[150px] top-[1350px];
}
#iconoir_dev_phone {
  @apply absolute left-[900px] top-[1150px];
}
#streamline_interface {
  @apply absolute right-[400px] top-[1650px];
}

/* ------------------------ TABLET BREAKPOINT ------------------------ */
@media (min-width: 600px) and (max-width: 1024px) {
  .ourPortfolioContainer {
    @apply gap-[55px] mx-[50px] my-[30px];
  }
  .headerContainer-5 {
    @apply w-full mt-[30px] mb-0 mx-0;
  }
  .headerContainer-5 h1 {
    @apply text-[40px] leading-[60px] min-w-[unset] text-start flex gap-2.5 items-center h-auto;
  }
  .headerContainerp {
    @apply w-full text-[22px] leading-[45px];
  }
  .galleryContainer {
    @apply w-full items-center ml-0;
  }
  .prev-button,
  .next-button {
    @apply m-2.5;
  }
  .swiper-wrapper {
    @apply h-[380px] w-full;
  }
  .swiper-pagination {
    @apply hidden;
  }
  .build30 {
    @apply w-[95%] m-auto px-0 py-5;
  }
  .personContainer {
    @apply w-full my-5 pb-[60px] p-0;
  }
  #iconamoon_settings {
    @apply absolute w-[35px] h-[35px] left-[60px] top-[900px];
  }
  #iconoir_design {
    @apply absolute w-[35px] h-[35px] left-[500px] top-[920px];
  }
  #iconoir_dev_laptop {
    @apply absolute w-[35px] h-[35px] right-[60px] top-[900px];
  }
  #iconoir_dev_phone {
    @apply absolute w-[35px] h-[35px] left-[100px] top-[1300px];
  }
  #streamline_interface {
    @apply absolute w-[35px] h-[35px] right-[400px] top-[1300px];
  }
  .sliderContent h4 {
    @apply text-3xl font-medium leading-9;
  }
  .sliderContent p {
    @apply text-[22px] font-normal leading-[39px];
  }
  .slideLink {
    @apply text-[22px] font-normal leading-[39px] w-[103%];
  }
  .whatPeopleContainer {
    @apply w-full flex flex-col items-center gap-[30px] m-auto;
  }
  .whatPeopleContainer h1 {
    @apply text-[40px] leading-[60px] mt-[200px];
  }
  .personSlider {
    @apply gap-2.5 h-full w-full;
  }
  .personSlider h2 {
    @apply text-3xl leading-[60px];
    font-family: MonumentExtended;
  }
  .personSlider p {
    @apply text-[22px] leading-[37px] text-center w-4/5;
    font-family: MonumentExtended;
  }
  .clutchContainer {
    @apply text-[40px] font-medium leading-[60px] gap-[30px] mt-[70px] mb-[30px];
  }
  .clutchContainer img {
    @apply w-[172.55px];
  }
}

/* ------------------------ PHONE BREAKPOINT ------------------------ */
@media (max-width: 599px) {
  .ourPortfolioContainer {
    @apply gap-2.5 m-2.5 p-2.5;
  }
  .sliderContent h4 {
    @apply text-[22px] font-medium leading-[26px];
  }
  .sliderContent p {
    @apply text-lg font-normal leading-[29px];
  }
  .sliderContent {
    @apply h-[300px];
  }
  .slideLink {
    @apply text-lg font-medium leading-[22px];
  }
  .headerContainer-5 {
    @apply w-full mt-[60px] mb-0;
  }
  .headerContainer-5 h1 {
    @apply w-full text-[40px] leading-[60px] text-start h-auto;
  }
  .clutchContainer {
    @apply text-[40px] font-medium leading-[60px] gap-[30px] mt-[70px] mb-[30px];
  }
  .clutchContainer img {
    @apply w-[172.55px];
  }
  .headerContainer-5 > img {
    @apply hidden;
  }
  .headerContainerp {
    @apply text-justify w-full text-base leading-[30px] mx-0 my-5;
  }
  .galleryContainer {
    @apply w-[100%] items-center mx-0 my-5;
  }
  .swiper-wrapper {
    @apply h-full w-full;
  }
  .personContainer {
    @apply w-full my-5 pl-0;
  }
  .personSlider h2 {
    @apply text-[2rem] leading-10 text-center text-[26px] leading-[60px];
  }
  .personSlider p {
    @apply text-base leading-normal w-full text-center text-base leading-[37px] text-center w-full;
  }
  .build30 {
    @apply flex-col-reverse items-center justify-center text-center pt-5;
  }
  .plus30 {
    @apply text-[120px];
  }
  .build {
    @apply text-[40px] leading-[60px] text-center w-full;
  }
  #iconamoon_settings {
    @apply absolute w-[35px] h-[35px] left-[15px] top-[700px];
  }
  #iconoir_design {
    @apply absolute w-[35px] h-[35px] left-[unset] right-[15px] top-[920px];
  }
  #iconoir_dev_laptop {
    @apply absolute w-[35px] h-[35px] left-[15px] right-[unset] top-[1200px];
  }
  #iconoir_dev_phone {
    @apply absolute w-[35px] h-[35px] left-[335px] top-[720px];
  }
  .swiper-pagination {
    @apply hidden;
  }
  #streamline_interface {
    @apply absolute w-[35px] h-[35px] left-[unset] right-[50px] top-[1200px];
  }
  .whatPeoplePersonBackground {
    @apply mt-20 bg-center;
  }
  .whatPeopleContainer {
    @apply flex flex-col items-center gap-[30px] m-0 w-full pt-20 p-0;
  }
  .whatPeopleContainer h1 img {
    @apply h-9;
  }
  .personSlider {
    @apply gap-2.5 h-full w-full;
  }
  .personSlider h2 {
    font-family: MonumentExtended;
  }
  .personSlider p {
    font-family: MonumentExtended;
  }
  .prev-button,
  .next-button {
    @apply h-20 w-auto;
  }
  #sendButtonImage {
    @apply h-[30px] w-[30px];
  }
  .next-button img,
  .prev-button img {
    @apply h-[60px] w-[60px];
  }
  .personSlider img {
    @apply w-[100px];
  }
  .whatPeopleContainer h1 {
    @apply text-[40px] leading-[60px] w-full text-center justify-items-center flex flex-col items-center gap-2.5;
  }
}
