/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
* {
  @apply box-border [font-family:MonumentExtended] m-0 p-0;
}
.OurSolitionContainer {
  @apply w-4/5 flex flex-col m-auto;
}
.OurSolitionContainer .titleContainer {
  @apply flex items-center mx-0 my-[100px];
}
.titleContainer .OurSolutionTitle {
  @apply text-[65px] font-medium leading-[78px] tracking-[0px] text-center;
}
.OurSolutionTitle span {
  @apply text-[rgba(0,113,251,1)];
}
.OurSolitionContainer .line {
  @apply grow h-0.5 [background:rgba(225,225,225,1)] mx-5 rounded-[5px];
}
.OurSolutionText .cardContainer {
  @apply flex items-center justify-center mb-[50px] border-[none];
}
.cardContainer .card h2 {
  @apply text-center text-[gray] text-xl mt-2.5;
}
.card {
  @apply flex flex-col items-center justify-center;
}
.cardContainer .card :hover {
  @apply cursor-pointer;
}
.blackHeader {
  @apply text-[black];
}
.OurSolutionText .textContainer div:first-child {
  @apply flex flex-col justify-center pr-[30px];
}
.OurSolutionText .textContainer img {
  @apply w-full object-cover;
}
.OurSolutionText .textContainer div {
  @apply w-6/12;
}
.OurSolutionText .textContainer {
  @apply h-full w-full gap-[140px] m-0 pb-[100px] flex items-center h-2/5;
}
.OurSolutionText .textContainer h3 {
  @apply text-[40px] font-medium mb-5;
}
.OurSolutionText .textContainer p {
  @apply text-[25px];
}
.textContainer .paginationButtons {
  @apply hidden;
}
.ourSolutionAllCardContainer {
  @apply flex;
}
.dashedLine {
  @apply flex items-center pb-[33%];
}
.ourSolutionAllCardContainer:last-child .dashedLine {
  @apply hidden;
}

/* -------------------------------- TABLET BREAKPOINT -------------------------------- */
@media (min-width: 600px) and (max-width: 1024px) {
  .OurSolitionContainer {
    @apply w-[89%] p-0;
  }
  .OurSolutionText .textContainer {
    @apply flex-row gap-0 p-0;
  }
  .OurSolitionContainer .titleContainer {
    @apply w-full;
  }
  .titleContainer .OurSolutionTitle {
    @apply text-[40px] leading-[60px];
  }
  .OurSolutionText .textContainer div:first-child {
    @apply p-0;
  }
  .OurSolutionText .textContainer p {
    @apply text-[22px] font-normal leading-[35px] tracking-[0px] text-left;
  }
  .OurSolutionText .cardContainer {
    @apply mb-[30px];
  }
  .OurSolutionText .textContainer img {
    @apply [object-fit:unset];
  }
  .cardContainer .card h2 {
    @apply text-[22px] leading-[27px];
  }
  .cardContainer .card img {
    @apply h-[100px] w-[100px];
  }
  .textContainer {
    @apply min-h-[600px];
  }
  .textContainer div {
    @apply w-6/12;
  }
  .textContainer img {
    @apply h-[490px];
  }
  .textContainer h3 {
    @apply text-3xl leading-[53px];
  }
  .textContainer p {
    @apply text-[22px] leading-[35px];
  }
  .textContainer .paginationButtons {
    @apply hidden;
  }
}

/* -------------------------------- PHONE BREAKPOINT -------------------------------- */
@media (max-width: 599px) {
  .OurSolitionContainer {
    @apply w-[88%] flex-col m-auto;
  }
  .OurSolitionContainer .titleContainer {
    @apply mt-[100px] mb-10 mx-0;
  }
  .OurSolutionText .textContainer div:first-child {
    @apply p-0;
  }
  .OurSolutionText {
    @apply p-0;
  }
  .titleContainer .OurSolutionTitle {
    @apply text-[40px] leading-[60px] ml-0;
  }
  .line {
    @apply hidden;
  }
  .dashedLine {
    @apply hidden;
  }
  .ourSolutionAllCardContainer {
    @apply w-full;
  }
  .OurSolutionText .cardContainer {
    @apply flex-col justify-center;
  }
  .OurSolutionText .card {
    @apply flex items-center justify-start gap-5 w-full;
  }
  .OurSolutionText .card img,
  .OurSolutionText .card h2 {
    @apply hidden;
  }
  .OurSolutionText .card h2 {
    @apply text-lg flex-col items-center justify-center m-0;
  }
  .card img.showImg,
  .card h2.blackHeader {
    @apply flex h-full;
  }
  .card img.showImg {
    @apply h-[100px] w-[100px];
  }
  .card h2.blackHeader {
    @apply text-xl leading-9;
  }
  .OurSolutionText .textContainer {
    @apply flex flex-col-reverse items-center relative mb-[70px] p-0;
  }
  .OurSolutionText .textContainer div {
    @apply w-full h-full;
  }
  .OurSolutionText .textContainer h3 {
    @apply text-3xl font-medium leading-9 tracking-[0px] text-left;
  }
  .OurSolutionText .textContainer img {
    @apply h-[290px] w-[360px];
  }
  .OurSolutionText .textContainer p {
    @apply text-base font-normal leading-[30px] tracking-[0px] text-justify;
  }
  .paginationButtons {
    @apply block flex items-center justify-center;
  }
  .paginationButtons button {
    @apply w-2.5 h-2.5 bg-[#d9d9d9] mr-5 rounded-[50%];
  }
  .paginationButtons button.blueBtn {
    @apply w-[15px] h-[15px] bg-[#0071fb];
  }
}


@keyframes animate {
  0% {
    background-position: 150%;
  }

  95% {
    background-position: -150%;
  }

  100% {
    background-position: -150%;
  }
}