.allContainer {
    display: flex;
    gap: 0px;
    align-items: center;
    margin-bottom: 150px;
}

.hexagonContainer {
    display: flex;
    align-items: center;
    height: 300px;
}

#hexagon {
    margin-right: -203px;
    height: 381px;
    width: 296px;
}

#hexagonImages {
    height: 160px;
    width: 160px;

}


.allRows {
    display: flex;
    flex-direction: column;
}

.firstRow {
    display: flex;
    gap: 7px;
    margin-left: 100px;
}

.secondRow {
    display: flex;
    gap: 7px;
    margin-top: -70px;
    margin-left: -46px
}

.thirdRow {
    display: flex;
    gap: 7px;
    margin-top: -70px;
    margin-left: 100px;
}

.textContainer {
    margin-left: 50px;
}

.textContainer h1 {
    font-size: 80px;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 96px;
    text-align: left;
    color: #3C3C3C;
    font-family: MonumentExtended
}

.textContainer h2 {
    font-size: 52px;
    font-weight: 500;
    line-height: 65px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(0, 113, 251, 1);
    font-family: MonumentExtended
}

/* TABLET BREAKPOINT */
@media (min-width: 600px) and (max-width: 1024px) {
    .allContainer {
        flex-direction: row;
        margin: 50px;
        gap: 30px;
    }

    .textContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .textContainer h2 {
        font-size: 40px;
        line-height: 60px;
    }

    .textContainer h1 {
        font-size: 53px;
        line-height: 63px;
    }


    .allRows {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: -170px;
    }

    .firstRow {
        display: flex;
    }

    .secondRow {
        display: flex;
        margin: -45px 0;
    }

    .thirdRow {
        display: flex;
        margin-top: 0px;
    }

    #hexagon {
        width: 242px !important;
        height: 277px !important;
    }

    #hexagonImages {
        width: 130px !important;
        height: 139px !important;
        position: absolute;
        top: 55px;
        right: 56px;
    }

    .hexagonContainer {
        display: flex;
        width: 242px !important;
        height: 277px !important;
        position: relative;
    }

}

/* PHONE BREAKPOINT */
@media (max-width: 599px) {
    .allContainer {
        flex-direction: column-reverse;
        gap: 30px;
        margin-top: 90px;
    }

    .textContainer {
        margin: 0;
    }

    .textContainer h2 {
        font-size: 30px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: 0px;
        text-align: center;

    }

    .textContainer h1 {
        font-size: 40px;
        font-weight: 500;
        line-height: 60px;
        letter-spacing: 0px;
        text-align: center;
        width: 80%;
        margin: auto;
    }


    .allRows {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .firstRow {
        display: flex;
    }

    .secondRow {
        display: flex;
        margin: -12px 0;
    }

    .thirdRow {
        display: flex;
        margin-top: 0px;
    }

    #hexagon {
        width: 141px !important;
        height: 118px !important;
    }

    #hexagonImages {
        width: 66px !important;
        height: 66px !important;
        position: absolute;
        top: 22px;
        right: 22px;
    }

    .hexagonContainer {
        display: flex;
        width: 108px !important;
        height: 118px !important;
        position: relative;
    }
}