/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.allContainer {
  @apply flex gap-0 items-center mb-[150px];
}
.hexagonContainer {
  @apply flex items-center h-[300px];
}
#hexagon {
  @apply mr-[-203px] h-[381px] w-[296px];
}
#hexagonImages {
  @apply h-40 w-40;
}
.allRows {
  @apply flex flex-col;
}
.firstRow {
  @apply flex gap-[7px];
}
.secondRow {
  @apply flex gap-[7px] mt-[-70px] ml-[-46px];
}
.thirdRow {
  @apply flex gap-[7px] mt-[-70px] ml-[100px];
}
.textContainer {
  @apply ml-[50px];
}
.textContainer h1 {
  @apply text-[80px] font-medium tracking-[3px] leading-[96px] text-left text-[#3C3C3C];
  font-family: MonumentExtended;
}
.textContainer h2 {
  @apply text-[52px] font-medium leading-[65px] tracking-[0px] text-left text-[rgba(0,113,251,1)];
  font-family: MonumentExtended;
}

/* TABLET BREAKPOINT */
@media (min-width: 600px) and (max-width: 1024px) {
  .allContainer {
    @apply flex-row gap-[30px] mx-0 my-[100px];
  }
  .textContainer {
    @apply flex flex-col justify-center items-start m-0;
  }
  .textContainer h2 {
    @apply text-[40px] leading-[60px];
  }
  .textContainer h1 {
    @apply text-[53px] leading-[63px];
  }
  .allRows {
    @apply flex flex-col items-center justify-center ml-[-70px];
  }
  .firstRow {
    @apply flex;
  }
  .secondRow {
    @apply flex mt-[-55px] mb-[-55px] mx-0;
  }
  .thirdRow {
    @apply flex ml-[15px] mt-0;
  }
  #hexagon {
    @apply w-[182px] h-[230px];
  }
  #hexagonImages {
    @apply w-[130px] h-[139px] absolute right-[26px] top-[45px];
  }
  .hexagonContainer {
    @apply flex w-[182px] h-[230px] relative;
  }
}

/* PHONE BREAKPOINT */
@media (max-width: 599px) {
  .allContainer {
    @apply flex-col-reverse gap-[30px] mt-[90px];
  }
  .textContainer {
    @apply m-0;
  }
  .textContainer h2 {
    @apply text-3xl font-medium leading-9 tracking-[0px] text-center;
  }
  .textContainer h1 {
    @apply text-[40px] font-medium leading-[60px] tracking-[0px] text-center w-4/5 m-auto;
  }
  .allRows {
    @apply flex flex-col items-center justify-center;
  }
  .firstRow {
    @apply flex;
  }
  .secondRow {
    @apply flex mx-0 -my-3;
  }
  .thirdRow {
    @apply flex m-0;
  }
  #hexagon {
    @apply w-[141px] h-[118px];
  }
  #hexagonImages {
    @apply w-[66px] h-[66px] absolute right-[22px] top-[22px];
  }
  .hexagonContainer {
    @apply flex w-[108px] h-[118px] relative;
  }
}
