/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.privacyPolicyAllContainer {
  @apply flex flex-col w-full m-auto;
}
.privacyPolicyHeader {
  @apply h-[60vh] flex flex-col justify-center gap-[50px] w-full bg-cover bg-no-repeat pl-[20%];
  background: url("../materials/HomeShapingBackground.svg");
}
.privacyPolicyHeader h1 {
  @apply text-[50px] font-bold leading-[60px] tracking-[0px] text-left text-[rgba(0,113,251,1)];
  font-family: MonumentExtended;
}
.privacyPolicyHeader p {
  @apply text-[26px] font-normal leading-[50px] tracking-[0px] text-left;
  font-family: MonumentExtended;
}
.privacyPolicyText {
  @apply w-3/5 gap-[50px] mt-[70px] mb-[200px] mx-auto;
}
.privacyPolicyTitle {
  @apply gap-[30px];
}
.privacyPolicyText,
.privacyPolicyTitle {
  @apply flex flex-col text-[22px] font-normal leading-[39px] tracking-[0px] text-justify;
  font-family: MonumentExtended;
}
.privacyPolicyTitle h2 {
  @apply text-3xl font-semibold leading-9 tracking-[0px] text-left;
  font-family: MonumentExtended;
}
#PrivacySecondHeader {
  @apply text-3xl not-italic font-medium leading-[normal] capitalize;
}
.paragraphs {
  @apply flex flex-col gap-[50px];
}
@media (min-width: 600px) and (max-width: 1024px) {
  .privacyPolicyText {
    @apply w-4/5;
  }
  .privacyPolicyHeader {
    @apply h-[55vh] pl-[10%];
  }
  #PrivacySecondHeader {
    @apply text-[26px];
  }
}

/* Add these styles for unordered lists and list items */
ul {
  @apply list-disc ml-5;

  /* or 'circle' or 'square' based on your preference */

  /* Adjust the margin as needed */
}
li {
  @apply mb-2.5;

  /* Adjust the margin as needed */
}

/* Add these styles for ordered lists and list items */
ol {
  @apply list-decimal ml-5;

  /* or 'lower-roman' or 'upper-alpha', etc. based on your preference */

  /* Adjust the margin as needed */
}
u strong {
  @apply text-[26px] italic font-medium leading-[normal] underline capitalize;
}
@media (max-width: 599px) {
  .privacyPolicyText {
    @apply w-[90%];
  }
  #PrivacySecondHeader {
    @apply w-[90%] m-auto;
  }
  .privacyPolicyHeader {
    @apply flex flex-col p-0;
  }
  .privacyPolicyHeader h1 {
    @apply text-3xl w-[90%] m-auto;
  }
  .privacyPolicyHeader h1,
  .privacyPolicyHeader p {
    @apply w-[90%] mx-auto my-0;
  }
  .privacyPolicyHeader p {
    @apply text-[22px] font-normal leading-[50px] tracking-[0px] text-left;
  }
  .privacyPolicyTitle h2 {
    @apply flex items-center justify-between;
  }
  #accordionimage {
    @apply w-[26px] h-3.5;
  }
  .paragraphs {
    @apply flex-col gap-5 hidden;
  }
}
