.mainServiceBackgroundContainer {
  overflow-x: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: url(../materials/bluePinkBackground.svg);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  width: 100%;
  margin-top: 100px;
}

.serviceTextHeaderContainer {
  margin: 0 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.ourServicesTextContainer {
  line-height: 10rem;
}

.ourServicesTextContainer h1 {
  color: rgba(0, 113, 251, 1);
  font-size: 4.375rem;
  font-weight: bold;
}

.servicesHeaderSmallTextContainer p {
  font-size: 1.625rem;
}

.servicesHeaderSmallTextContainer {
  line-height: 3.2rem;
}

.servicesTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.servicesImageContainer {
  height: 60%;
  display: flex;
}

