/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.mainServiceBackgroundContainer {
  @apply flex flex-col items-center justify-center overflow-x-hidden;
  background: url(/_next/static/media/bluePinkBackground.db02b1bc.svg) no-repeat
    bottom left / cover;
}
.serviceTextHeaderContainer {
  @apply flex justify-center flex-col w-[50%] ml-[6%] my-[100px];
}
.ourServicesTextContainer {
  @apply leading-[10rem];
}
.ourServicesTextContainer h1 {
  @apply text-[rgba(0,113,251,1)] text-[50px] leading-[10rem] font-bold tracking-[0px];

  font-family: MonumentExtended;

}
.servicesHeaderSmallTextContainer p {
  @apply text-[26px];
}
.servicesHeaderSmallTextContainer {
  @apply w-[81.7%] leading-[50px];
}
.servicesTop {
  @apply flex items-center justify-between w-full;
}
.servicesImageContainer {
  @apply h-3/5 gap-[100px] justify-between flex;
}

/*Desktop*/
@media only screen and (min-width: 1025px) {
  #epArrow {
    @apply mt-[-60px] pb-[50px];
  }
}

/* TABLET BREAKPOINT */
@media (min-width: 600px) and (max-width: 1024px) {
  .servicesHeaderSmallTextContainer {
    @apply w-full;
  }
  .servicesHeaderSmallTextContainer p {
    @apply text-[22px];
  }
  .accordion-title {
    @apply text-[26px] font-medium leading-[31px] mb-5;
  }
  .accordion-par {
    @apply text-lg font-normal leading-[33px] tracking-[0px] text-left text-left text-lg leading-[35px] w-full;
  }
  .servicesTop {
    @apply mx-0 my-[100px];
  }
  .servicesHeaderSmallTextContainer p br {
    @apply hidden;
  }
  .ourServicesTextContainer h1 {
    @apply text-[40px] font-bold leading-[60px] tracking-[0px];
  }
  .serviceTextHeaderContainer {
    @apply w-6/12 ml-[30px] mr-0 my-0;
  }
  .servicesImageContainer img {
    @apply w-6/12;
  }
  .sectionHeader {
    @apply items-center;
  }
  .sectionHeader p {
    @apply text-[40px] leading-[60px];
  }
  .sectionHeader img {
    @apply w-[38px] h-5;
  }
  .sectionContent.open.left-section,
  .sectionContent.open.right-section {
    @apply border shadow-[0px_14px_24px_0px_rgba(0,0,0,0.04)_inset] mt-[30px] px-2.5 py-5 rounded-2xl border-solid border-[#B2EBFF];
  }
}

/* PHONE BREAKPOINT */
@media (max-width: 599px) {
  .ourServicesTextContainer h1 {
    @apply text-3xl font-bold leading-9 tracking-wider text-center;
    font-family: MonumentExtended;
  }
  .servicesHeaderSmallTextContainer {
    @apply w-[81.7%] m-auto;
  }
  #epArrow {
    @apply hidden;
  }
  .serviceTextHeaderContainer {
    @apply gap-[30px] w-[100%] mx-0 my-[180px];
  }
  .servicesTop {
    @apply bg-no-repeat bg-contain;
    background: url(../materials/sevicesbckgrnd.svg);
  }
  .servicesHeaderSmallTextContainer p {
    @apply text-base leading-[30px] text-center;
  }
  .servicesHeaderSmallTextContainer br {
    @apply hidden;
  }
  .servicesImageContainer img:nth-child(2) {
    @apply hidden;
  }
  .servicesImageContainer img:nth-child(1) {
    @apply hidden;
  }
}
