.mainServiceBackgroundContainer {
  overflow-x: hidden;
  display: flex;
  align-items: center;
  height: 100vh;
  background: url(../materials/bluePinkBackground.svg);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  justify-content: center;
}
.serviceTextHeaderContainer {
  height: 50%;
  display: flex;
  width: 75%;
  justify-content: center;
  flex-direction: column;
}

.ourServicesTextContainer {
  line-height: 10rem;
}

.ourServicesTextContainer h1 {
  color: rgb(71, 183, 224);
  font-size: 4.3rem;
  font-weight: bold;
}
.servicesHeaderSmallTextContainer p {
  font-size: 1.7rem;
}

.servicesHeaderSmallTextContainer {
  line-height: 3.2rem;
}

.servicesHeaderSmallTextContainer {
}

.serviceHeaderImageContainer {
<<<<<<< HEAD
  height: 60%;
  position: absolute;
  width: 120%;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}
=======
    height: 60%;
    position: absolute;
    width: 120%;
    display: flex;
    justify-content: flex-end; /* Use 'flex-end' instead of 'end' */
    position: absolute;
    margin-right: 23.7rem;
    overflow-x: hidden; /* Hide horizontal overflow */
  }

  #epArrow {
    position: absolute;
    justify-content: center;
    
    align-self:flex-end;
  }
>>>>>>> 26dd58797bac1faeab399e1bc84439f932cca34c
