.techParentContainer {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.blockChainnetworkContainer {
    flex-direction: column;
    display: flex;
    width: 80%;
    text-align: left;
    gap: 50px;
}

.blockChainnetworkContainer h1 {
    font-size: 65px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
}

.blockChainnetworkContainer span {
    color: #0071FB;
}

.blockChainIcons {
    display: flex;
    flex-direction: column;
    float: inline-start;
    width: 100%;
    gap: 20px;
}

.blockChainIconsLine {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* Allow items to wrap to the next line */
}

.blockChainIconsLine img {
    width: 200px;
    height: 70px;
    filter: saturate(0);
    transition: 0.3s ease-in-out;
}

.blockChainIconsLine img:hover {
    filter: saturate(1);
    width: 212.386px;
    height: 77px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.techArsenalContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80%;
    justify-content: center;
    margin-bottom: 100px;
}

.techArsenalContainer h1 {
    font-size: 65px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 40px;
}

.techArsenalContainer span {
    color: #0071FB;
}

.techArsenalButtonContainer {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 60px;
    border-bottom: 2px solid gray;
    height: 55px;
}

.techArsenalButton {
    height: 57px;
    display: flex;
    width: 15%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.techArsenalButton img {
    width: 20px;
}

.techArsenalButton button {
    font-size: 21px;
    padding: 0 0px 0 5px;
    transition: 0.8s ease-in-out;
}

.techArsenalButton:hover {
    transition: 0.2s ease-in-out;
    border-bottom: 7px solid gray;
    border-color: #0071FB;
    color: #0071FB;
}

.arsenalChangeComponent {
    display: flex;
}

.ArsenalMiniComponent {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.ArsenalMiniComponentDEV {
    width: 95%;
}

.mainArsenalChangeComp {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.mainArsenalChangeComp img {
    width: 116px;
    height: 64px;
}

.techTextParentContainer {
    flex-direction: column;
    height: 25%;
    display: flex;
    width: 80%;
    text-align: left;
}

.techTextParentContainer h1 {
    font-size: 65px;
    color: black;
    margin-bottom: 30px;
}

.techTextParentContainer span {
    color: rgba(0, 113, 251, 1);
}

.techTextParentContainer p {
    font-size: 22px;
    line-height: 50px;
}

.techSliderParentContainer {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
}

.techSliderParentContainer .techPartnersLeftButtonContainer,
.techSliderParentContainer .techPartnersRightButtonContainer {
    height: 100%;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.techPartnersLeftButtonContainer img,
.techPartnersRightButtonContainer img {
    transition: 0.5s ease;
}

.techPartnersRightButtonContainer img {
    transform: scaleX(-1);
}

.techPartnersLeftButtonContainer img:hover,
.techPartnersRightButtonContainer img:hover {
    cursor: pointer;
    transition: 0.5s ease;
    width: 3.5rem;
    filter: saturate(9000%) hue-rotate(30deg);
    /* Adjust values to make it more blue */

}

.techSliderParentContainer .techPartnerComponentContainer {
    height: 100%;
    width: 90%;
}

/* TABLET BREAKPOINT */
@media (min-width: 600px) and (max-width: 1024px) {

    .servicesHeaderSmallTextContainer {
        width: 100% !important;
      }

    .servicesHeaderSmallTextContainer p {
        font-size: 22px !important;
    }

    .accordion-title {
        font-size: 26px !important;
        font-weight: 500 !important;
        line-height: 31px !important;
        margin-bottom: 20px;
    }

    .accordion-par {
        font-size: 18px !important;
        font-weight: 400;
        line-height: 33px !important;
        letter-spacing: 0px;
        text-align: left;
    }

    .servicesTop{
        margin: 100px 0;
    }

    .servicesHeaderSmallTextContainer p br {
        display: none;
    }

    .ourServicesTextContainer h1 {
        font-size: 40px !important;
        line-height: 60px;
    }

    .serviceTextHeaderContainer {
        margin: 0 0px 0 30px !important;
        width: 50%;
    }

    .servicesImageContainer img {
        width: 50%;
    }

    .sectionHeader {
        align-items: center;
    }

    .sectionHeader p {
        font-size: 40px !important;
        line-height: 60px !important;
    }

    .sectionHeader img {
        width: 38px;
        height: 20px;
    }

    .sectionContent.open.left-section,
    .sectionContent.open.right-section {
        border: 1px solid #B2EBFF;
        border-radius: 16px;
        padding: 20px 10px;
        margin-top: 30px;
        box-shadow: 0px 14px 24px 0px rgba(0, 0, 0, 0.04) inset;
    }

    .accordion-par {
        text-align: left;
        font-size: 18px !important;
        line-height: 35px !important;
        width: 100% !important;
    }

    .techTextParentContainer h1 {
        font-size: 40px !important;
        font-weight: 500 !important;
        line-height: 60px !important;
    }

    .techTextParentContainer p {
        font-size: 22px;
        font-weight: 400;
        line-height: 45px;
        margin-top: 20px;
    }

    .techTextParentContainer p br {
        display: none;
    }
    .TechComponentContainerText{
        justify-content: center;
        width: 50% !important;
    }

    .TechComponentContainerText h1 {
        font-size: 40px !important;
        font-weight: 500;
        line-height: 60px !important;
    }

    .TechComponentContainerText h3 {
        font-size: 18px !important;
        font-weight: 400;
        line-height: 30px !important;
    }

    .TechComponentContainerText h3 br {
        display: none;
    }

    .TechComponentContainerText a {
        font-size: 20px !important;
        font-weight: 500;
        line-height: 50px;
        margin-top: 1rem !important;
    }

    .textContainer h2 {
        font-size: 40px !important;
        line-height: 60px !important;
    }

    .textContainer h1 {
        font-size: 53px !important;
        line-height: 64px !important;
    }

    .blockChainIconsLine {
        justify-content: center;
    }

    .blockChainIcons {
        display: flex;
        flex-direction: column;
        float: inline-start;
        width: 100%;
    }

    .acordionComponentContainer {
        gap: 20px !important;
    }

    .blockChainnetworkContainer h1 {
        font-size: 40px;
        font-weight: 500;
        line-height: 60px;
        letter-spacing: 0px;
        text-align: left;
    }
    .techArsenalContainer h1 {
        font-size: 40px;
        font-weight: 500;
        line-height: 60px;
        letter-spacing: 0px;
        text-align: left;
    }
}

/* PHONE BREAKPOINT */
@media (max-width: 599px) {

   

    .acordionComponentContainer {
        margin: 70px 20px !important;
    }


    
}