/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.techParentContainer {
  @apply h-auto w-full flex justify-between items-center flex-col gap-[50px];
}
.blockChainnetworkContainer {
  @apply flex-col flex w-4/5 text-left gap-[50px];
}
.blockChainnetworkContainer h1 {
  @apply text-[65px] not-italic font-medium leading-none;
}
.blockChainnetworkContainer span {
  @apply text-[#0071FB];
}
.blockChainIcons {
  @apply flex flex-col w-full;
  float: inline-start;
}
.blockChainIconsLine {
  @apply flex justify-between flex-wrap;

  /* Allow items to wrap to the next line */
}
.blockChainIconsLine img {
  @apply saturate-0 transition-[0.3s] duration-[ease-in-out] hover:saturate-100 hover:transition-[0.2s] hover:duration-[ease-in-out] hover:cursor-pointer;
}
.techArsenalContainer {
  @apply flex flex-col text-left w-4/5 justify-center mb-[100px];
}
.techArsenalContainer h1 {
  @apply text-[65px] not-italic font-medium leading-[normal] mb-10;
}
.techArsenalContainer span {
  @apply text-[#0071FB];
}
.techArsenalButtonContainer {
  @apply flex cursor-pointer flex-row w-full justify-between h-[55px] mb-[60px] border-b-2 border-b-[gray] border-solid;
}
.techArsenalButton {
  @apply h-[57px] flex w-[15%] flex-row items-center justify-center hover:transition-[0.2s] hover:duration-[ease-in-out] hover:text-[#0071FB] hover:border-b-[7px] hover:border-b-[gray] hover:border-solid hover:border-[#0071FB];
}
.techArsenalButton img {
  @apply w-5;
}
.techArsenalButton button {
  @apply text-[21px] transition-[0.8s] duration-[ease-in-out] pl-[5px] pr-0 py-0;
}
.arsenalChangeComponent {
  @apply flex;
}
.ArsenalMiniComponent {
  @apply flex flex-wrap gap-[30px] w-[95%];
  justify-content: left;
}
.ArsenalMiniComponentDEV {
  @apply w-[95%];
}
.mainArsenalChangeComp {
  @apply flex justify-around w-full;
}
.techTextParentContainer {
  @apply flex-col h-1/4 flex w-4/5 text-left;
}
.techTextParentContainer h1 {
  @apply text-[65px] text-[black] mb-[30px];
}
.techTextParentContainer span {
  @apply text-[rgba(0,113,251,1)];
}
.techTextParentContainer p {
  @apply text-[22px] leading-[50px];
}
.techSliderParentContainer {
  @apply flex flex-row w-[90%] items-center mt-[100px];
}
.techSliderParentContainer .techPartnersLeftButtonContainer,
.techSliderParentContainer .techPartnersRightButtonContainer {
  @apply h-full w-[5%] flex justify-center items-center;
}
.techPartnersLeftButtonContainer img,
.techPartnersRightButtonContainer img {
  @apply transition-[0.5s] duration-[ease];
}
.techPartnersRightButtonContainer img {
  @apply -scale-x-100;
}
.techPartnersLeftButtonContainer img:hover,
.techPartnersRightButtonContainer img:hover {
  @apply cursor-pointer transition-[0.5s] duration-[ease] w-14 saturate-[9000%] hue-rotate-30;

  /* Adjust values to make it more blue */
}
.techSliderParentContainer .techPartnerComponentContainer {
  @apply h-full w-[90%];
}

/* TABLET BREAKPOINT */
@media (min-width: 600px) and (max-width: 1024px) {
  .techTextParentContainer h1 {
    @apply text-[40px] font-medium leading-[60px];
  }
  .techTextParentContainer p {
    @apply text-[22px] font-normal leading-[45px] mt-5;
  }
  .techTextParentContainer p br {
    @apply hidden;
  }
  .TechComponentContainerText {
    @apply justify-center w-6/12;
  }
  .TechComponentContainerText h1 {
    @apply text-[40px] font-medium leading-[60px];
  }
  .TechComponentContainerText h3 {
    @apply text-lg font-normal leading-[30px];
  }
  .TechComponentContainerText h3 br {
    @apply hidden;
  }
  .TechComponentContainerText a {
    @apply text-xl font-medium leading-[50px] mt-4;
  }
  .textContainer h2 {
    @apply text-[40px] leading-[60px];
  }
  .textContainer h1 {
    @apply text-[53px] leading-[64px];
  }
  .blockChainIconsLine {
    @apply justify-center;
  }
  .blockChainIcons {
    @apply flex flex-col w-full;
    float: inline-start;
  }
  .acordionComponentContainer {
    @apply gap-5;
  }
  .blockChainnetworkContainer h1 {
    @apply text-[40px] font-medium leading-[60px] tracking-[0px] text-left;
  }
  .techArsenalContainer h1 {
    @apply text-[40px] font-medium leading-[60px] tracking-[0px] text-left;
  }
}

/* PHONE BREAKPOINT */
@media (max-width: 599px) {
  .acordionComponentContainer {
    @apply mx-5 my-[70px];
  }

}
