* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: MonumentExtended;

}

.wwdContainer {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 0;
}

.wwdContainer>div:first-child {
    display: flex;
    align-items: center;
    margin: 100px 0px;
}

.wwdContainer .blueTitle {
    font-size: 65px;
    font-weight: 500;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: center;
}

.wwdContainer .WeDoText {
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 50px;
}

.wwdContainer .blueTitle span {
    color: rgba(0, 113, 251, 1);
}

.blueTitle+.line {
    flex-grow: 1;
    height: 2px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 5px;
    background-color: rgba(225, 225, 225, 1);
}

@keyframes animate {
    0% {
        background-position: 200%;
    }

    95% {
        background-position: -200%;
    }

    100% {
        background-position: -200%;
        background: rgba(0, 113, 251, 1);
    }
}


/* TABLET BREAKPOINT */
@media (min-width: 600px) and (max-width: 1024px) {
    .wwdContainer {
        margin: 40px 10px;
        padding: 10px;
    }

    .wwdContainer .blueTitle {
        font-size: 40px;
        line-height: 60px;
        margin-left: 0;
    }

    .blueTitle+.line {
        position: relative;
        top: 10px;
    }

    .wwdContainer .WeDoText {
        font-size: 22px;
        line-height: 45px;
    }
}

/* PHONE BREAKPOINT */
@media (max-width: 599px) {
    .wwdContainer {
        margin: 10px;
        padding: 10px;
    }


    .wwdContainer .blueTitle {
        font-size: 40px;
        line-height: 60px;
        margin-left: 0;
    }

    .blueTitle+.line {
        display: none;
    }

    .wwdContainer .WeDoText {
        text-align: justify;
        font-size: 16px;
        line-height: 30px;
    }
}