@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MonumentExtended';
  src: url(../public/Fonts/PPNeueMontreal-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MonumentExtended';
  src: url(../public/Fonts/PPNeueMontreal-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* 0 - Header */
.Navbar .active {
  color: rgba(0,113,251,1) ;
}
.HeaderContainer {
width: 100%;
top: 0;
position: fixed;
z-index: 2;
background-color: white;

}

.headerInnerContainer{

  width: 85%;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  display: flex;
  background-color: white;
  padding: 20px 0px;
}

#mgsLogo{
  width: 139px;
}
.Navbar {
  display: flex;
  gap: 2.5rem;
}

.Navbar a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
}

.HeaderIcons {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.MobileDropdownMenu {
  display: none;
}

#dropdownBtn {
  display: none;
}

.dropdownContainer .leftFooter {
  margin-top: 10px;
  width: 100%;
  margin: auto;
}
.dropdownContainer .leftFooter h6{
  text-align: center;
  margin-top: 40px;
}


/* 1 - Footer */
.footerContainer {
  display: flex;
  justify-content: center;
}

.footerMain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
  margin: 1rem 0rem;
  font-family: MonumentExtended;
}

.leftFooter {
  padding-left: 4rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  margin-left: 6rem;
  margin-bottom: 6rem;
  height: 100%;
}

.leftFooter h6 {
  font-size: 0.9rem;
}

.leftFooter h2 {
  font-size: 1.7rem;
}

.footerSocialIcons {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  align-items: center;
}

.footerSocialIcons img {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.rightFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 55%;
  height: 60%;
  font-size: 0.9rem;
}

.rightFooter h5{
  display: flex;
  align-items: center;
}

.rightFooter h5,
.rightFooter a,
.rightFooter button,
.leftFooter h6 {
  color: rgba(90, 91, 94, 1)
}

.ecoFooter,
.hqFooter {
  width: 45%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}

.hqFooter strong {
  color: #000;
}

.ecoFooter,
.hqFooter {
  width: 50%;
  display: flex;
  justify-content: space-between;
  height: 71%;
  flex-direction: column;
  align-items: flex-start;
}

.ecoFooter {
  height: 100%;
}

/* TABLET BREAKPOINT */
@media (min-width: 600px) and (max-width: 1024px) {
  .HeaderContainer {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }


  .Navbar {
    display: flex;
    gap: 2.5rem;
  }

  .HeaderContainer #mgsLogo {
    height: 2.5rem;
  }

  .footerMain .leftFooter {
    padding: 0 2rem;
    margin-left: 0;
    padding-left: 0;
    width: auto;
    justify-content: center;
  }

  .leftFooter h2,
  .leftFooter h6 {
    display: inline-block;
  }

  .ecoFooter button,
  .ecoFooter a,
  .hqFooter h5,
  .leftFooter h6 {
    font-size: 12px;
  }

  .leftFooter img {
    width: 1.5rem;
    margin-right: 1rem;
  }

  .leftFooter>img {
    width: 5rem;
  }
}


/* PHONE BREAKPOINT*/
@media (max-width: 599px) {
  .HeaderContainer {
    padding: 30px 20px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .headerInnerContainer {
    padding: 30px 20px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  .HeaderContainer .open {
    display: none;
  }

  .HeaderContainer #mgsLogo {
    height: 2.5rem;
  }

  #dropdownBtn {
    display: block;
  }

  .Navbar {
    display: none;
  }

  .dropdownContainer {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
  }

  .MobileDropdownMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 1.5rem;
    gap: 1rem;
    margin: 4rem 0;
  }

  .MobileDropdownMenu+.HeaderIcons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  .MobileDropdownMenu+.HeaderIcons img {
    width: 2rem;
  }

  .footerMain {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    padding: 0 2rem;
  }

  .rightFooter {
    flex-direction: column;
    gap: 2rem;
    width: 100% !important;
    font-size: 14px;
  }

  .rightFooter .ecoFooter,
  .rightFooter .hqFooter {
    width: 100%;
  }

  .rightFooter strong,
  .rightFooter a,
  .rightFooter button {
    margin-bottom: 1rem;
  }

  .hqFooter {
    gap: 13px;
  }

  .leftFooter {
    margin-left: 0;
    order: 2;
    width: auto;
    padding-left: 0;
    margin-bottom: 0;
  }

  .leftFooter h2 {
    display: none;
  }

  .leftFooter img {
    margin-right: 2.5rem;
  }
}