.MemberCardContainer {
  font-family: MonumentExtended;
  display: flex;
  width: 96%;
  justify-content: center;
  margin: 5.5rem auto 7rem auto;
  flex-wrap: wrap;
}

.MemberCardComponent {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3.5rem;
}

.icons {
  margin-top: 2rem;
  display: flex;
  gap: 1.8rem;
}

.icons img {
  width: 25px;
  height: 25px;
}

.memberName {
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgba(0, 113, 251, 1);
  margin-top: 1rem;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
}

.MemberCardContainer .MemberCardComponent {
  width: calc(25%);
  margin-right: 0 ;
}

/* TABLET BREAKPOINT */
@media (min-width: 600px) and (max-width: 1024px) {
  .MemberCardContainer{
    justify-content: space-between;
  }
  .memberName {
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    

  }
  .memberName p{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
  }
  .MemberCardContainer{
    width: 95% !important;
  }
  .MemberCardContainer .MemberCardComponent {
    width: calc(34.5% - 1.5rem);
    margin-right: 0 !important;
    justify-content: center;
    align-items: center;
  }
}

/* PHONE BREAKPOINT */
@media (max-width: 599px) {
  .MemberCardComponent {
    width: 100% !important;
  }

  .memberName {
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0px;

  }
  .memberName p{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
  }

  .icons img {
    width: 25px;
height: 25px
  }
}