.acordionComponentContainer {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: 8.75rem 0 11.875rem 0;
}

.sectionContent.open.left-section,
.sectionContent.open.right-section {
  border: 1px solid #B2EBFF;
  border-radius: 16px;
  padding: 20px 10px;
  margin-top: 30px;
  box-shadow: 0px 14px 24px 0px rgba(0, 0, 0, 0.04) inset;
  width: calc(33% - 18px);
}

.accordionSection {
  width: 77%;
  display: flex;
  flex-direction: column;
  margin: auto;
  overflow: hidden;
}

.accordionIndex {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: left;
}

.sectionHeader {
  display: flex;
  border-bottom: 1px solid rgba(0, 113, 251, 1);
  justify-content: space-between;
  cursor: pointer;
}

.sectionHeader p {
  padding: 20px;
  font-family: MonumentExtended;
  font-size: 4rem;
  font-weight: 500;
  line-height: 90px;
  letter-spacing: 0px;
  text-align: center;

}

.sectionHeader span {
  color: rgba(0, 113, 251, 1);
}

.sectionContent {
  margin-top: 100px;
  width: calc(33% - 16px);

  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.sectionContent.open {
  display: flex;
  flex-direction: column;
  gap: 126px;
}

.sectionContent.close {
  display: none;
}

.accordion-title {
  font-family: MonumentExtended;
  font-size: 45px;
  font-weight: 500;
  line-height: 63px;
  letter-spacing: 0px;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 10px;
}

.accordion-title img{
  width: 30px;
}

.accordion-par {
  font-family: MonumentExtended;
  text-align: left;
  font-size: 1.5625rem;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0px;
  width: 80%;
}