/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.acordionComponentContainer {
  @apply flex flex-col gap-[100px] mt-[8.75rem] mb-[11.875rem] mx-0;
}
.sectionContent.open.left-section,
.sectionContent.open.right-section {
  @apply border shadow-[0px_14px_24px_0px_rgba(0,0,0,0.04)_inset] w-[calc(33%_-_18px)] mt-[30px] px-2.5 py-5 rounded-2xl border-solid border-[#b2ebff];
}
.accordionSection {
  @apply w-[85%] flex flex-col overflow-hidden m-auto;
}
.accordionIndex {
  @apply flex gap-[30px] flex-wrap;
  justify-content: left;
}
#AccordionTitleImage {
  @apply w-[150.887px] h-40;
}
.sectionHeader {
  @apply flex justify-between cursor-pointer border-b-[rgba(0,113,251,1)] border-b border-solid;
}
.sectionHeader p {
  @apply text-[4rem] font-medium leading-[90px] tracking-[0px] text-center p-5;
  font-family: MonumentExtended;
}
.sectionHeader span {
  @apply text-[rgba(0,113,251,1)];
}
.sectionContent {
  @apply w-[calc(33%_-_16px)] overflow-hidden transition-[max-height] duration-[0.3s] ease-[ease-in-out] mt-[100px];
}
.sectionContent.open {
  @apply flex flex-col;
}
.sectionContent.close {
  @apply hidden;
}
.accordion-title {
  @apply text-3xl font-medium leading-[63px] tracking-[0px] text-left flex items-center gap-2.5;
  font-family: MonumentExtended;
}
.accordion-title img {
  @apply w-[30px];
}
.accordion-par {
  @apply text-left text-[22px] font-normal leading-[39px] w-full;
  font-family: MonumentExtended;
}
@media (min-width: 600px) and (max-width: 1024px) {
  .accordionSection {
    @apply w-[90%];
  }
  .acordionComponentContainer {
    @apply mb-[100px];
  }
  .blockChainnetworkContainer {
    @apply w-[90%];
  }
  
  .techArsenalContainer {
    @apply w-[90%];
  }
  .mainArsenalChangeComp {
    @apply justify-between;
  }
  .ArsenalMiniComponent {
    @apply w-full flex-wrap gap-[30px];
  }
  .techTextParentContainer {
    @apply w-[90%];
  }
  .techSliderParentContainer {
    @apply w-full;
  }
}

/* PHONE BREAKPOINT */
@media (max-width: 599px) {
  .sectionHeader p {
    @apply text-3xl leading-[normal] text-start px-0 py-5;
  }
  .accordionSection {
    @apply w-full;
  }
  .accordion-title {
    @apply text-[26px] w-[91%] m-auto;
  }
  .accordion-par {
    @apply text-lg font-normal leading-[33px] tracking-[0px] text-left w-[91%] m-auto;
  }
  .sectionContent.open {
    @apply flex gap-0;
  }
  .sectionContent.open.left-section,
  .sectionContent.open.right-section {
    @apply border shadow-[0px_14px_24px_0px_rgba(0,0,0,0.04)_inset] w-full mt-[30px] px-2.5 py-[60px] rounded-2xl border-solid border-[#b2ebff];
  }
  .sectionHeader {
    @apply items-center mx-0 my-5;
  }
  .sectionHeader img {
    @apply w-[38px] h-5;
  }
  .acordionComponentContainer {
    @apply gap-0 mx-5 my-[70px];
  }
}
