.acordionComponentContainer {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: 8.75rem 0 11.875rem 0;
}

.sectionContent.open.left-section,
.sectionContent.open.right-section {
  border: 1px solid #b2ebff;
  border-radius: 16px;
  padding: 20px 10px;
  margin-top: 30px;
  box-shadow: 0px 14px 24px 0px rgba(0, 0, 0, 0.04) inset;
  width: calc(33% - 18px);
}

.accordionSection {
  width: 85%;
  display: flex;
  flex-direction: column;
  margin: auto;
  overflow: hidden;
}

.accordionIndex {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: left;
}

#AccordionTitleImage {
  width: 150.887px;
  height: 160px;
}

.sectionHeader {
  display: flex;
  border-bottom: 1px solid rgba(0, 113, 251, 1);
  justify-content: space-between;
  cursor: pointer;
}

.sectionHeader p {
  padding: 20px;
  font-family: MonumentExtended;
  font-size: 4rem;
  font-weight: 500;
  line-height: 90px;
  letter-spacing: 0px;
  text-align: center;
}

.sectionHeader span {
  color: rgba(0, 113, 251, 1);
}

.sectionContent {
  margin-top: 100px;
  width: calc(33% - 16px);

  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.sectionContent.open {
  display: flex;
  flex-direction: column;
}

.sectionContent.close {
  display: none;
}

.accordion-title {
  font-family: MonumentExtended;
  font-size: 30px;
  font-weight: 500;
  line-height: 63px;
  letter-spacing: 0px;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 10px;
}

.accordion-title img {
  width: 30px;
}

.accordion-par {
  font-family: MonumentExtended;
  text-align: left;
  font-size: 22px;
  font-weight: 400;
  line-height: 39px;
  width: 100%;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .accordionSection {
    width: 90%;
  }
  .acordionComponentContainer {
    margin-bottom: 100px;
  }

  .blockChainnetworkContainer {
    width: 90%;
  }
  .blockChainIconsLine {
    justify-content: space-between;
  }
  .techArsenalContainer {
    width: 90%;
  }
  .mainArsenalChangeComp {
    justify-content: space-between;
  }
  .ArsenalMiniComponent {
    width: 100%;
  }

  .techTextParentContainer {
    width: 90%;
  }
  .techSliderParentContainer {
    width: 100%;
  }
}

/* PHONE BREAKPOINT */
@media (max-width: 599px) {
  .sectionHeader p {
    font-size: 30px;
    line-height: normal;
    text-align: start;
    padding: 20px 0;
  }
  .accordionSection {
    width: 100%;
  }
  .accordion-title {
    font-size: 26px;
    width: 91%;
    margin: auto;
  }

  .accordion-par {
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0px;
    text-align: left;
    width: 91%;
    margin: auto;
  }

  .sectionContent.open {
    display: flex;
    gap: 0px;
  }

  .sectionContent.open.left-section,
  .sectionContent.open.right-section {
    border: 1px solid #b2ebff;
    border-radius: 16px;
    padding: 60px 10px;
    margin-top: 30px;
    box-shadow: 0px 14px 24px 0px rgba(0, 0, 0, 0.04) inset;
    width: 100%;
  }

  .sectionHeader {
    align-items: center;
    margin: 20px 0;
  }

  .sectionHeader img {
    width: 38px;
    height: 20px;
  }

  .acordionComponentContainer {
    gap: 0px;
  }
}
